<div class="card">
  <div class="card-header">
   List of Content
  </div>
  <div class="card-block">
    <div class="List of Content">
      <table class="table table-bordered table-striped mb-0">
        <thead>
          <tr>
            <th>
              ID
            </th>
            <th>
              Title
            </th>
            <th class="numeric">
              Type
            </th>
            <th class="numeric">
              Created By
            </th>
            <th class="numeric">
              Date
            </th>
            <th class="numeric">
              Tags
            </th>
            <th class="numeric">
              Views
            </th>
            <th class="numeric">
              Revenue $
            </th>
            <th class="numeric">
              image
            </th>
            <th class="numeric">
              Status
            </th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of feedsList ; let i=index">
            <td data-title="ID">
              {{i+1}}
            </td>
            <td data-title="Title">
              {{item.title}}
            </td>
            <td data-title="Type">
              {{item.service_type}}
            </td>
            <td data-title="Created By">
              {{item.memberName}}
            </td>
            <td data-title="Created Date" class="numeric">
              {{item.created_at| date:'dd-MM-yyyy HH:mm'}}
            </td>
            <td data-title="Tags">
              {{item.tags}}
            </td>
            <td data-title="Views" class="numeric"></td>
            <td data-title="Revenue $" class="numeric">
              $0.00
            </td>
            <td>{{item.mediaSrc}}</td>
            <td data-title="Status">
              <select class="form-control"  [(ngModel)]="item.status" (change)="OnContentStatusChange(item.status, item)">
                <option value="new">New</option>
                <option value="under review">Under Review</option>
                <option value="review approved">Review Approved</option>
                <option value="review rejected">Review Rejected</option>
                <option value="archived">Archived</option>
              </select>
            </td>
            <td class="gear_icn">
              <span (click)="showPopActions(item._id)"><i class="fas fa-cog gric"></i></span>
              <div class="pop_actions" *ngIf="showActions==item._id">
                <p (click)="onviewfeedbyid(item._id)">View Post</p>
                <p>Analytics</p>
                <span class="closer" (click)="hidePopActions()">Close <i class="fas fa-times"></i></span>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
