<div class="card">
  <div class="card-block">
    <h6 class="text-uppercase mt-0 mb-3">Order Details</h6>
    <br />
    <div class="row mb-2">
      <div class="col mb-2">
        <div class="d-flex justify-content-start">
          <div class="col mb-6">
            <strong class="mr-auto">Financial TransId</strong>
            </div>
            <div class="col mb-6">
              <span>{{order.financialTransId}}</span>
              </div>
            </div>
          </div>
      <div class="col mb-2">
        <div class="d-flex justify-content-start">
          <div class="col mb-6">
            <strong class="mr-auto">Service TransId</strong>
            </div>
            <div class="col mb-6">
              <span>{{order.serviceTransId}}</span>
              </div>
            </div>
          </div>
    </div>

    <div class="row mb-2">
      <div class="col mb-2">
        <div class="d-flex justify-content-start">
          <div class="col mb-6">
            <strong class="mr-auto">Service Status</strong>
            </div>
            <div class="col mb-6">
              <span>{{order.serviceStatus}}</span>
              </div>
            </div>
          </div>
      <div class="col mb-2">
        <div class="d-flex justify-content-start">
          <div class="col mb-6">
            <strong class="mr-auto">Updated By</strong>
            </div>
            <div class="col mb-6">
              <span>{{order.updatedBy}}</span>
              </div>
            </div>
          </div>
    </div>

    <div class="row mb-2">
      <div class="col mb-2">
        <div class="d-flex justify-content-start">
          <div class="col mb-6">
            <strong class="mr-auto">Creator</strong>
            </div>
            <div class="col mb-6">
              <span>{{order.createdBy}}</span>
              </div>
            </div>
          </div>
      <div class="col mb-2">
        <div class="d-flex justify-content-start">
          <div class="col mb-6">
            <strong class="mr-auto">Order Service Status</strong>
            </div>
            <div class="col mb-6">
              <span>{{order.orderServiceStatus}}</span>
              </div>
            </div>
          </div>
    </div>

    <div class="row mb-2">
      <div class="col mb-2">
        <div class="d-flex justify-content-start">
          <div class="col mb-6">
            <strong class="mr-auto">Order Payment Status</strong>
            </div>
            <div class="col mb-6">
              <span>{{order.orderPaymentStatus}}</span>
              </div>
            </div>
          </div>
      <div class="col mb-2">
        <div class="d-flex justify-content-start">
          <div class="col mb-6">
            <strong class="mr-auto">Created Date</strong>
            </div>
            <div class="col mb-6">
              <span>{{order.createdDateTime | date:'dd-MM-yyyy HH:mm'}}</span>
              </div>
            </div>
          </div>
    </div>

    <div class="row mb-2">
      <div class="col mb-2">
        <div class="d-flex justify-content-start">
          <div class="col mb-6">
            <strong class="mr-auto">Updated Date</strong>
            </div>
            <div class="col mb-6">
              <span>{{order.updatedDateTime | date:'dd-MM-yyyy HH:mm'}}</span>
              </div>
            </div>
          </div>
      <div class="col mb-2">
        <div class="d-flex justify-content-start">
          <div class="col mb-6">
            <strong class="mr-auto">Order Date</strong>
            </div>
            <div class="col mb-6">
              <span>{{order.orderDateTime | date:'dd-MM-yyyy HH:mm'}}</span>
              </div>
            </div>
          </div>
    </div>

  </div>
</div>
