<div class="card">
  <div class="card-header">
    List of Auctions
  </div>
  <div class="card-block">
    <div class="List of Auctions">
      <table class="table table-bordered table-striped mb-0">
        <thead>
          <tr>
            <th>
              ID
            </th>
            <th>
              Title
            </th>
            <th class="numeric">
              Auction Start Date
            </th>
            <th class="numeric">
              Auction End Date
            </th>
            <th class="numeric">
              Created Date
            </th>
            <th class="numeric">
              Tags
            </th>
            <th class="numeric">
              Auction Value $
            </th>
            <th class="numeric">
              Revenue $
            </th>
            <th class="numeric">
             Status
            </th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td data-title="ID">
              001
            </td>
            <td data-title="Title">
              Men's Party wear 
            </td>
            <td data-title="Auction Start Date">
              01-02-2018
            </td>
            <td data-title="Auction End Date">
              14-2-2018
            </td>
            <td data-title="Created Date">
              01-02-2018
            </td>
            <td data-title="Tags">
              Sales, Antique
            </td>
            <td data-title="Orders">
              2
            </td>
            <td data-title="Revenue $" class="numeric">
              $18.38
            </td>
            <td data-title="Status">
              <select class="form-control">
                <option value="new">New</option>
                <option value="under review">Under Review</option>
                <option value="review approved">Review Approved</option>
                <option value="review rejected">Review Rejected</option>
                <option value="archived">Archived</option>
              </select>
            </td>
            <td class="gear_icn">
              <span (click)="showPopActionsOne()"><i class="fas fa-cog gric"></i></span>
              <div class="pop_actions" *ngIf="showActionsOne" id="one">
                <p>Auction Details</p>
                <p>Bids</p>
                <p>Analytics</p>

                <span class="closer" (click)="hidePopActions()">Close <i class="fas fa-times"></i></span>
              </div>
            </td>
          </tr>
          <tr>
            <td data-title="ID">
              002
            </td>
            <td data-title="Title">
              Magadheera RamCharan's Sword
            </td>
            <td data-title="Auction Start Date">
              01-02-2018
            </td>
            <td data-title="Auction End Date">
              14-2-2018
            </td>
            <td data-title="Created Date">
              01-02-2018
            </td>
            <td data-title="Tags">
              Sales, Antique
            </td>
            <td data-title="Orders">
              3
            </td>
            <td data-title="Revenue $" class="numeric">
              $18.38
            </td>
            <td data-title="Status">
              <select class="form-control">
                <option value="new">New</option>
                <option value="under review">Under Review</option>
                <option value="review approved">Review Approved</option>
                <option value="review rejected">Review Rejected</option>
                <option value="archived">Archived</option>
              </select>
            </td>
            <td class="gear_icn">
              <span (click)="showPopActionsTwo()"><i class="fas fa-cog gric"></i></span>
              <div class="pop_actions" *ngIf="showActionsTwo" id="one">
                <p>Auction Details</p>
                <p>Bids</p>
                <p>Analytics</p>
                <span class="closer" (click)="hidePopActions()">Close <i class="fas fa-times"></i></span>
              </div>
            </td>
          </tr>
          <tr>
            <td data-title="ID">
              003
            </td>
            <td data-title="Title">
              MaryadaRamanna's Cycle
            </td>
            <td data-title="Auction Start Date">
              01-02-2018
            </td>
            <td data-title="Auction End Date">
              14-2-2018
            </td>
            <td data-title="Created Date">
              01-02-2018
            </td>
            <td data-title="Tags">
              Sales, Antique
            </td>
            <td data-title="Orders">
              2
            </td>
            <td data-title="Revenue $" class="numeric">
              $35.38
            </td>
            <td data-title="Status">
              <select class="form-control">
                <option value="new">New</option>
                <option value="under review">Under Review</option>
                <option value="review approved">Review Approved</option>
                <option value="review rejected">Review Rejected</option>
                <option value="archived">Archived</option>
              </select>
            </td>
            <td class="gear_icn">
              <span (click)="showPopActionsThree()"><i class="fas fa-cog gric"></i></span>
              <div class="pop_actions" *ngIf="showActionsThree" id="one">
                <p>Auction Details</p>
                <p>Bids</p>
                <p>Analytics</p>
                <span class="closer" (click)="hidePopActions()">Close <i class="fas fa-times"></i></span>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
