<div class="card">
  <div class="card-header">
    <p style="display:block; width:100%">List of Members <a style="float:right; margin-right:20px;" (click)="GetAllCelebreqsLink()">Celebrity Requests : {{this.celebreqcount}} </a> </p>
  </div>
  <div class="card-block">
    <div class="List of Members">
      <table class="table table-bordered table-striped mb-0">
        <thead>
          <tr>
            <th>
              ID
            </th>
            <th>
              User Name
            </th>
            <th class="numeric">
              Full Name
            </th>
            <th class="numeric">
              Email
            </th>
            <th class="numeric">
              Phone
            </th>
            <th class="numeric">
              Member Since
            </th>
            <th class="numeric">
              Last Active
            </th>
            <th class="numeric">
              Spent $
            </th>
            <th class="numeric">
              Status 
            </th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of members ; let i=index">
            <td data-title="ID">
              {{i+1}}
            </td>
            <td data-title="User Name">
              {{item.name}}
            </td>
            <td data-title="Full Name">
              {{item.name}} {{item.lastName}}
            </td>
            <td data-title="Email">
              {{item.email}}
            </td>
            <td data-title="Phone" class="numeric">
              {{item.mobileNumber}}
            </td>
            <td data-title="Member Since">
              {{item.created_at | date:'dd-MM-yyyy'}}
            </td>
             <td data-title="Last Active">
              <span *ngIf="item.updated_at != null ">
                {{item.updated_at | date:'dd-MM-yyyy HH:mm'}} (Days: {{ ondatediff(item.updated_at | date :'yyyy/MM/dd') }})
              </span>

            </td>
            <td data-title="Spent $" class="numeric">
              $0.00
            </td>
            <td data-title="Status">
              <label class="switch" (change)="onchangestatus(item._id,item.status)">
                <input type="checkbox" value="{{item.status}}" name="{{item.status}}" id="status" checked="{{item.status? 'checked' : ''}}" [(ngModel)]="item.status">
                <span class="slider round"></span>
              </label>
            </td>
            <td class="gear_icn">
              <span (click)="onViewProfile(item._id)"><i class="fas fa-eye gric"></i></span>
              <!--<div class="pop_actions" *ngIf="showActions==item._id" id="two">
                <p (click)="onViewProfile(item._id)">View Profile</p>
                <p>Reset Password</p>
                <p>Timeline</p>
                <p>Transactions</p>
                <span class="closer" (click)="hidePopActions()">Close <i class="fas fa-times"></i></span>
              </div>-->
            </td>
            <!--<td class="gear_icn" (click)="toggleDropdown($event)" data-id="userDropdown">
    <span><i class="fas fa-cog gric"></i></span>
    <div class="pop_actions" data-drop="userDropdown">

      <p>View Profile</p>
      <p>Reset Password</p>
      <p>Timeline</p>
      <p>Transactions</p>
      <!--<p (click)="onViewProfile(item._id)">{{iconvalues.name}}</p>-->
            <!--<p>Reset Password</p>
  <p>Timeline</p>
  <p>Transactions</p>


            <span class="closer" (click)="hidePopActions()">Close <i class="fas fa-times"></i></span>

          </div>
        </td>-->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
