<div class="wrapper">
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-block">
          <div class="row">
            <div class="col">
              <h4 class="ma-0"><span class="fw-400">{{celebs.prefix}} {{celebs.name}}</span> <b>{{celebs.lastName}}</b></h4>
              <!--<small>{{celebs.email}}</small>-->
              <!--<p class="mb-2"><b>Role:</b>{{celebs.role}}</p>-->
              <a href="javascript:;" class="mt-1 d-block">{{celebs.email}}</a>
              <!--<a href="javascript:;" class="mt-1 d-block">www.example.com</a>-->
              <a href="javascript:;" class="mt-1 d-block">{{celebs.mobileNumber}}</a>
              <p *ngIf="celebs.isCeleb"><b>Industry:</b> &nbsp; Tollywood</p>
              <p *ngIf="celebs.isCeleb"><b>Profession:</b> &nbsp; Actor</p>
            </div>
            <div class="col">
              <figure>
                <div class="text-center">
                  <!--<div class="avatar-status bg-red">-->
                  <div class="row" *ngIf="celebs.isCeleb">
                    <div class="col">
                      <img src="assets/images/cck_crown.png" alt="" class="" width="" style="padding-left: 63px;" />

                    </div>
                    <div class="col">
                      <img src="assets/images/online.png" alt="" class="" width="" /> &nbsp;Online
                    </div>
                  </div>
                  <div class="image-upload">
                    <!--<form [formGroup]="formProfile" enctype="multipart/form-data" method="post" name="fileinfo">-->
                    <label for="selectFile">
                      <img src="{{imageUrl+celebs.avtar_imgPath}}" alt="" class="" width="100%" />
                      <img *ngIf="celebs.avtar_imgPath==''" src="assets/images/profile_pic.png" alt="" class="" style="width: 145px;" />
                    </label>
                    <input type="file" id="selectFile" name="selectFile" class="form-group" />

                    <!--<input type="file" id="file-input" (change)="readURL($event)" />-->
                    <!--</form>-->
                  </div>
                  <!--</div>-->
                </div>
                <!--<div class="text-center">
                  <div class="avatar-status bg-red">
                    <input type="file"/><img src="assets/images/avatar.jpg" alt="" class="rounded-circle">
                  </div>
                  <div class="mt-1">Earnings</div>
                </div>-->
                <div class="m-1">
                  <ngb-progressbar type="success" [value]="25"></ngb-progressbar>
                </div>
                <!--<div class="text-center"><small>234Gb of 879Gb</small></div>-->
                <div class="text-center">
                  <div class="mt-1">Spent</div>
                </div>
                <div class="m-1">
                  <ngb-progressbar type="danger" [value]="25"></ngb-progressbar>
                </div>
              </figure>
            </div>
            <!--<div class="col">

            </div>-->
          </div>
        </div>
        <div class="card-block">
          <div class="row text-center">
            <div class="col">
              <h2 class="mt-0"><b>23,8K</b></h2>
              <small>Followers</small>
            </div>
            <div class="col">
              <h2 class="mt-0"><b>569</b></h2>
              <small>Following</small>
            </div>
            <div class="col">
              <h2 class="mt-0"><b>67</b></h2>
              <small>Posts</small>
            </div>
            <div class="col">
              <h2 class="mt-0"><b>100</b></h2>
              <small>Orders</small>
            </div>
          </div>
        </div>
        <div class="card-block">
          <p class="ff-headers text-uppercase mb-3"><strong>About Me</strong></p>
          <p>{{celebs.aboutMe}}</p>
        </div>

        <form [formGroup]="memberUpdateFormGroup" (ngSubmit)="onUpdateProfile(celebs)">
          <div class="card-block">
            <h6 class="text-uppercase mt-0 mb-3">Basic Information</h6>

            <div class="row mb-2">
              <div class="col mb-2">
                <div class="d-flex justify-content-start">
                  <span class="mr-auto">First Name</span>
                  <input type="text" id="celebs.name" [(ngModel)]="celebs.name" name="celebs.name" [formControl]="memberUpdateFormGroup.controls['celebs.name']" />
                  <!--<strong>{{celebs.name}}</strong>-->
                </div>
              </div>
              <div class="col mb-2">
                <div class="d-flex justify-content-start">
                  <span class="mr-auto">Last Name</span>
                  <input type="text" id="celebs.lastName" [(ngModel)]="celebs.lastName" name="celebs.lastName" [formControl]="memberUpdateFormGroup.controls['celebs.lastName']" />
                  <!--<strong>{{celebs.lastName}}</strong>-->
                </div>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col mb-2">
                <div class="d-flex justify-content-start">
                  <span class="mr-auto">Mobile</span>
                  <input type="text" id="celebs.mobileNumber" name="celebs.mobileNumber" [(ngModel)]="celebs.mobileNumber" [formControl]="memberUpdateFormGroup.controls['celebs.mobileNumber']" />
                  <!--<strong>{{celebs.mobileNumber}}</strong>-->
                </div>
              </div>
              <div class="col mb-2">
                <div class="d-flex justify-content-start">
                  <span class="mr-auto">Email</span>
                  <input type="text" id="celebs.email" [(ngModel)]="celebs.email" name="celebs.email" [formControl]="memberUpdateFormGroup.controls['celebs.email']" /><br />
                  <!--<strong>{{celebs.email}}</strong>-->
                </div>
              </div>

            </div>
            <div class="row mb-2">
              <div class="col mb-2">
                <div class="d-flex justify-content-start">
                  <span class="mr-auto">Location</span>
                  <input type="text" id="celebs.location" [(ngModel)]="celebs.location" name="celebs.location" [formControl]="memberUpdateFormGroup.controls['celebs.location']" />
                  <!--<strong>{{celebs.location}}</strong>-->
                </div>
              </div>
              <div class="col mb-2">
                <div class="d-flex justify-content-start">
                  <span class="mr-auto">About Me</span>
                  <input type="text" id="celebs.aboutMe" name="celebs.aboutMe" [(ngModel)]="celebs.aboutMe" [formControl]="memberUpdateFormGroup.controls['celebs.aboutMe']" />
                  <!--<strong>{{celebs.aboutMe}}</strong>-->
                </div>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col mb-2">
                <div class="d-flex justify-content-start">
                  <span class="mr-auto">Gender</span>
                  <select class="form-control" [(ngModel)]="celebs.gender" name="celebs.gender" [formControl]="memberUpdateFormGroup.controls['celebs.gender']" style="width: 170px;">
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="others">Others</option>
                  </select>
                  <!--<input type="text" id="gender" [(ngModel)]="celebs.gender" />-->
                  <!--<strong>{{celebs.gender}}</strong>-->
                </div>
              </div>
              <div class="col mb-2">
                <div class="d-flex justify-content-start">
                  <span class="mr-auto">Birthday</span>
                  <input type="date" format='mm-dd-yyyy' id="celebs.dateOfBirth" [(ngModel)]="celebs.dateOfBirth" name="celebs.dateOfBirth" [formControl]="memberUpdateFormGroup.controls['celebs.dateOfBirth']" />
                  <!--<strong>{{celebs.dateOfBirth}}</strong>-->
                </div>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col mb-2">
                <div class="d-flex justify-content-start">
                  <label class="custom-control custom-checkbox mb-3" for="celebs.isCeleb">
                    <input type="checkbox" class="custom-control-input" id="celebs.isCeleb" [checked]="celebs.isCeleb?'checked':''" [(ngModel)]="celebs.isCeleb" name="celebs.isCeleb" [formControl]="memberUpdateFormGroup.controls['celebs.isCeleb']">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Is Celebrity</span>
                  </label>
                  <div class="col mb-2">
                    <div class="d-flex justify-content-start">
                      <label class="custom-control custom-checkbox mb-3" for="celebs.status">
                        <input type="checkbox" class="custom-control-input" id="celebs.status" [checked]="celebs.status?'checked':''" [(ngModel)]="celebs.status" name="celebs.status" [formControl]="memberUpdateFormGroup.controls['celebs.status']">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Status</span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row mb-2">
              <div class="col mb-2">
                <div class="d-flex justify-content-start">
                  <label class="custom-control custom-checkbox mb-3" for="celebs.isEditorChoice">
                    <input type="checkbox" class="custom-control-input" id="celebs.isEditorChoice" [checked]="celebs.isEditorChoice?'checked':''" [(ngModel)]="celebs.isEditorChoice" name="celebs.isEditorChoice" [formControl]="memberUpdateFormGroup.controls['celebs.isEditorChoice']">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Is EditorChoice</span>
                  </label>
                  <div class="col mb-2">
                    <div class="d-flex justify-content-start">
                      <label class="custom-control custom-checkbox mb-3" for="celebs.isOnline">
                        <input type="checkbox" class="custom-control-input" id="celebs.isOnline" [checked]="celebs.isOnline?'checked':''" [(ngModel)]="celebs.isOnline" name="celebs.isOnline" [formControl]="memberUpdateFormGroup.controls['celebs.isOnline']">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Is Online</span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row mb-2">
              <div class="col mb-2">
                <div class="d-flex justify-content-start">
                  <label class="custom-control custom-checkbox mb-3" for="celebs.isPromoted">
                    <input type="checkbox" class="custom-control-input" id="celebs.isPromoted" [checked]="celebs.isPromoted?'checked':''" [(ngModel)]="celebs.isPromoted" name="celebs.isPromoted" [formControl]="memberUpdateFormGroup.controls['celebs.isPromoted']">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Is Promoted</span>
                  </label>
                  <div class="col mb-2">
                    <div class="d-flex justify-content-start">
                      <label class="custom-control custom-checkbox mb-3" for="celebs.isTrending">
                        <input type="checkbox" class="custom-control-input" id="celebs.isTrending" [checked]="celebs.isTrending?'checked':''" [(ngModel)]="celebs.isTrending" name="celebs.isTrending" [formControl]="memberUpdateFormGroup.controls['celebs.isTrending']">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Is Trending</span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col mb-2">
                <div class="d-flex justify-content-start">
                  <span class="mr-auto">
                    <button class="btn btn-primary lgnbtn" type="submit">Update Profile</button>
                  </span>
                </div>
              </div>
              <div class="col mb-2">
                <div class="d-flex justify-content-start">
                  <span class="mr-auto">
                    <button class="btn btn-secondary" type="button" (click)="open(content)">Reset Password</button>
                  
                    <!--<a><small class="form-text crt_btn" (click)="open(content)"><u>Reset Password</u></small></a>-->
                  </span>
                </div>
              </div>
            </div>

            <!--new code starts-->
            <div class="card">
              <!--<div class="card-header"></div>-->
              <div class="card-block">
                <!--<button class="btn btn-secondary" (click)="open(content)">Modal with default options</button>
                <pre>{{closeResult}}</pre>-->
                <!--<div role="document" class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h6 class="modal-title text-uppercase">Modal title</h6>
                      <button aria-label="Close" class="close" type="button">
                        <span aria-hidden="true">×</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p>One fine body…</p>
                    </div>
                    <div class="modal-footer">
                      <button class="btn btn-secondary" type="button">Close</button>
                    </div>
                  </div>
                </div>-->
              </div>
            </div>



            <!--new code starts-->
            <div class="row mb-2" *ngIf="successMessage">
              <div class="col">
                <div class="d-flex justify-content-start">
                  <span class="mr-auto">
                    <ngb-alert *ngIf="isSuccess" type="success" (close)="successMessage = null">{{ successMessage }}</ngb-alert>
                    <ngb-alert *ngIf="isError" type="danger" (close)="successMessage = null">{{ successMessage }}</ngb-alert>
                    <!--<strong>{{successMessage}}</strong>-->
                  </span>
                </div>
              </div>
            </div>
          </div>
        </form>

      </div>
    </div>
    <div class="col-sm-8">
      <div class="card">
        <ngb-tabset class="card-tab">
          <ngb-tab title="TimeLine">
            <ng-template ngbTabContent>
              <div class="activity-stream">
                <div class="card">
                  <div class="card-header">
                    <img class="card-avatar" src="assets/images/face1.jpg">
                    <div class="card-header-text">
                      <div class="card-title">Received a call from Joel</div>
                      <div class="card-subtitle">Header subtitle</div>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <img class="card-avatar" src="assets/images/avatar.jpg">
                    <div class="card-header-text">
                      <div class="card-title">Header title</div>
                      <div class="card-subtitle">Header subtitle</div>
                    </div>
                  </div>
                  <div class="card-block">
                    <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
                    <a href="javascript:;" class="mr-1">Like</a>
                    <a href="javascript:;">Comment</a>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <img class="card-avatar" src="assets/images/face2.jpg">
                    <div class="card-header-text">
                      <div class="card-title">Header title</div>
                      <div class="card-subtitle">Added a photo</div>
                    </div>
                  </div>
                  <div class="card-block">
                    <img src="assets/images/unsplash/20.jpg" style="width: 300px">
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <img class="card-avatar" src="assets/images/face3.jpg">
                    <div class="card-header-text">
                      <div class="card-title">Header title</div>
                      <div class="card-subtitle">Header subtitle</div>
                    </div>
                  </div>
                  <div class="card-block">
                    <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <img class="card-avatar" src="assets/images/face4.jpg">
                    <div class="card-header-text">
                      <div class="card-title">Uploaded new file</div>
                      <div class="card-subtitle">Header subtitle</div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>Transactions</ng-template>
            <ng-template ngbTabContent>
              <div class="card">
                <div class="card-header">
                  List of Transactions
                </div>
                <div class="card-block">
                  <div class="List of Transactions">
                    <table class="table table-bordered table-striped mb-0">
                      <thead>
                        <tr>
                          <th>
                            ID
                          </th>
                          <th class="numeric">
                            Payment Gateway Response
                          </th>
                          <th class="numeric">
                            Transaction Ref Number
                          </th>
                          <th>
                            Transaction Date
                          </th>
                          <th>
                            Financial Type
                          </th>
                          <th>
                            Financial Status
                          </th>
                          <th>
                            Transaction AuthCode
                          </th>
                          <th>Transaction Value</th>
                          <th>Transaction Status</th>
                          <!--<th class="numeric">
                            Transaction Status
                          </th>-->
                          <th>Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of transactionLogList ; let i=index">
                          <td data-title="ID">
                            {{i+1}}
                          </td>
                          <td data-title="Payment Gateway Response">
                            {{item.paymentgatewayResponse}}
                          </td>
                          <td data-title="  Transaction Ref Number">
                            {{item.transactionRefNumber}}
                          </td>
                          <td data-title="Transaction Date Time">
                            {{item.created_at| date:'dd-MM-yyyy HH:mm'}}
                          </td>
                          <td data-title="Financial Type">
                            {{item.financialType}}
                          </td>
                          <td data-title="Financial Status">
                            {{item.financialStatus}}
                          </td>
                          <td data-title="Transaction AuthCode">
                            {{item.transactionAuthCode}}
                          </td>
                          <td>
                            {{item.transactionValue}}
                          </td>
                          <td>{{item.transactionMode}}</td>
                          <!--<td data-title="Transaction Status">
                            <select class="form-control">
                              <option value="initiated">Initiated</option>
                              <option value="debit">Debit</option>
                              <option value="credit">Credit</option>
                              <option value="on hold">On Hold</option>
                              <option value="under process">Under Process</option>
                              <option value="completed">Completed</option>
                              <option value="reversed">Reversed</option>
                              <option value="canceled">Canceled</option>
                            </select>
                            
                          </td>-->
                          <td class="gear_icn">
                            <span (click)="showPopActions(item._id)"><i class="fas fa-cog gric"></i></span>
                            <div class="pop_actions" *ngIf="showActions==item._id" id="two">
                              <p (click)="onViewTransactionLogById(item._id)">View Transaction Details</p>
                              <p>Transaction Timeline</p>
                              <p>Analytics</p>
                              <span class="closer" (click)="hidePopActions()">Close <i class="fas fa-times"></i></span>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

            </ng-template>
          </ngb-tab>

          <ngb-tab title="Content">
            <ng-template ngbTabContent>
              <div class="card card-block mb-0 pb-0">
                <div class="row">
                  <div class="card">
                    <div class="card-header no-shadow">
                      Posts Approval Queue
                    </div>
                    <ul class="list-group border-0" *ngFor="let cc of content2; let i = index">

                      <li class="list-group-item border-top-0 border-left-0 border-right-0 border-bottom-0">
                        <div class="d-flex justify-content-center">
                          <a class="pull-left avatar-sm" href="javascript:;">
                            <img class="img-fluid rounded-circle" src="{{imageUrl + cc.profilePicPath}}" />
                          </a>
                          <div class="pl-3">
                            <div class="row mb-2">
                              <div class="col">
                                <span class="d-block txtclolor">
                                  {{cc.memberName}}
                                </span>
                              </div>
                              <div class="row mb-2">
                                <span class="d-block txtalign">{{cc.created_at | date :'dd/MM/yyyy'}} </span>
                              </div>
                            </div>
                            <span>
                              {{cc.content}} &nbsp; <span *ngIf="cc.status == 'approved'"><i class="far fa-check-circle grnclr"></i></span>
                              <!--<p *ngIf="cc.status == 'approved'">Show this please</p>-->
                              <span *ngIf="cc.status == 'rejected'"><i class="far fa-times-circle rdclr"></i></span>
                            </span>
                            <br />
                            <span class="d-block txtalign">
                              Approved By:{{cc.approvedBy}}

                            </span>
                          </div>
                        </div>
                      </li>


                    </ul>
                    <!--<span (click)="openMdOpen()"><i class="fas fa-search-plus fa-2x zoomer"></i></span>
                    <div class="pop_data" *ngIf="mdOpen">
                      <span (click)="closeMdOpen()"><i class="fas fa-search-minus zoomerm"></i></span>
                    </div>-->
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>

          <ngb-tab>
            <ng-template ngbTabTitle>Contracts</ng-template>
            <ng-template ngbTabContent>
              <div class="card">
                <div class="card-header">
                  <p style="display:block; width:100%"> List of Contracts <a style="float:right;" (click)="onOpenContract(contract)">Create Contract</a> </p>
                </div>
                <div class="card-block">
                  <div class="List of Contracts">
                    <table class="table table-bordered table-striped mb-0">
                      <thead>
                        <tr>
                          <th>
                            ID
                          </th>
                          <th class="numeric">
                            Creator Name
                          </th>
                          <th class="numeric">
                            Service Type
                          </th>
                          <th>
                            Is Active
                          </th>
                          <th>
                            Start Date
                          </th>
                          <th>
                            End Date
                          </th>
                          <th>
                            Created Date
                          </th>
                          <th>Updated Date</th>
                          <th>Updated By</th>
                          <th class="numeric">
                            Remarks
                          </th>
                          <th>Service Credits</th>
                          <th>Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of contractsList ; let i=index">
                          <td data-title="ID">
                            {{i+1}}
                          </td>
                          <td data-title="createdBy">
                            {{item.createdBy}}
                          </td>
                          <td data-title="serviceType">
                            {{item.serviceType}}
                          </td>
                          <td data-title="isActive">
                            {{item.isActive}}
                          </td>
                          <td data-title="startDate">
                            {{item.startDate| date:'dd-MM-yyyy HH:mm'}}
                          </td>
                          <td data-title="endDate">
                            {{item.endDate| date:'dd-MM-yyyy HH:mm'}}
                          </td>
                          <td data-title="createdDateTime">
                            {{item.createdDateTime| date:'dd-MM-yyyy HH:mm'}}
                          </td>
                          <td data-title="updatedDateTime">
                            {{item.updatedDateTime| date:'dd-MM-yyyy HH:mm'}}
                          </td>
                          <td>
                            {{item.updatedBy}}
                          </td>
                          <td>{{item.remarks}}</td>
                          <td data-title="serviceCredits">
                            {{item.serviceCredits}}
                          </td>
                          <td>
                            <a (click)="onOpenContract(contract,item._id)">Update</a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

            </ng-template>
          </ngb-tab>

        </ngb-tabset>
      </div>
    </div>
  </div>
</div>

<ng-template ngbModalContainer></ng-template>
<ng-template #content let-c="close" let-d="dismiss">
  <!--<div class="modal-header">
    <h6 class="modal-title text-uppercase">Modal title</h6>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>-->
  <div class="modal-body">
    <p>Reset Password</p>
    <form [formGroup]="form" (ngSubmit)="onReset(memberId, password)" class="signup_formcenter">

      <label for="username">
        Email-Id
      </label>
      <label class="form-control">{{celebs.email}}</label>
      <fieldset class="form-group" [ngClass]="{'has-danger': form.controls['password'].hasError('required') && form.controls['password'].touched}">
        <label for="password">
          Enter your password
        </label>
        <input type="password" class="form-control" placeholder="********" [formControl]="form.controls['password']" [(ngModel)]="password" [ngClass]="{'form-control-danger': form.controls['password'].hasError('required') && form.controls['password'].touched}" />
        <div class="form-control-feedback" *ngIf="form.controls['password'].hasError('required') && form.controls['password'].touched">Password is required.</div>
      </fieldset>
      <fieldset class="form-group" [ngClass]="{'has-danger': form.controls['confirmPassword'].hasError('required') && form.controls['confirmPassword'].touched}">
        <label for="password">
          Confirm your password
        </label>
        <input type="text" class="form-control" placeholder="********" [formControl]="form.controls['confirmPassword']" [ngClass]="{'form-control-danger': form.controls['confirmPassword'].hasError('required') && form.controls['confirmPassword'].touched}" />
        <div class="form-control-feedback" *ngIf="form.controls['confirmPassword'].hasError('required') && form.controls['confirmPassword'].touched">Confirm your password.</div>
      </fieldset>

      <div class="block mb-3"></div>
      <!--<button class="btn btn-primary rgbtn" type="submit" [disabled]="!form.valid">Create</button>
      <a class="btn btn-outline-primary btn-link crt_btn" (click)="onSignin()">Login!</a>-->
      <div class="row mb-2">
        <div class="col" *ngIf="successMessagePwd">
          <div class="d-flex justify-content-start">
            <span class="mr-auto">
              <ngb-alert *ngIf="isSuccessPwd" type="success" (close)="successMessagePwd = null">{{ successMessagePwd }}</ngb-alert>
              <!--<strong>{{successMessage}}</strong>-->
            </span>
          </div>
        </div>
        <div class="col">
          <button class="btn btn-primary lgnbtn" type="button" (click)="onReset(celebs.email, password)" [disabled]="!form.valid">Submit</button>
        </div>
      </div>
    </form>
    <!--<input type="text" placeholder="Password" />
    <input type="text" placeholder="Confirm Password" />
    <input type="button" class="btn btn-success" (click)="onReset(memberId, password)" value="Submit" />-->
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
  </div>
</ng-template>

<ng-template ngbModalContainer></ng-template>
<ng-template #contract let-c="close" let-d="dismiss">
  <div class="modal-body">
    <p> <strong> Contract </strong></p>
    <!--<form [formGroup]="formCreateContract" (ngSubmit)="onCreateContract()" class="signup_formcenter">-->
    <div class="row mb-2">
      <div class="col mb-2">
        <div class="d-flex justify-content-start">
          <span class="mr-auto">Service type</span>
          <select class="form-control" style="width: 170px;" [(ngModel)]="contracts.serviceType" name="contracts.serviceType" id="contracts.serviceType">
            <option value="audio">Audio</option>
            <option value="video ">Video </option>
            <option value="chat">Chat</option>
          </select>
        </div>
      </div>
      <div class="col mb-2">
        <div class="d-flex justify-content-start">
          <span class="mr-auto">Start Date</span>
          <input type="date" format='mm-dd-yyyy' [(ngModel)]="contracts.startDate" name="contracts.startDate" id="contracts.startDate" />
        </div>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col mb-2">
        <div class="d-flex justify-content-start">
          <span class="mr-auto">End Date</span>
          <input type="date" format='mm-dd-yyyy' [(ngModel)]="contracts.endDate" name="contracts.endDate" id="contracts.endDate" />
        </div>
      </div>
      <div class="col mb-2">
        <div class="d-flex justify-content-start">
          <span class="mr-auto">Service Credits</span>
          <input type="text" [(ngModel)]="contracts.serviceCredits" name="contracts.serviceCredits" id="contracts.serviceCredits" />
          <!--<strong>{{celebs.dateOfBirth}}</strong>-->
        </div>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col mb-2">
        <div class="d-flex justify-content-start">
          <span class="mr-auto">Remarks</span>
          <input type="text" [(ngModel)]="contracts.remarks" name="contracts.remarks" id="contracts.remarks" />
        </div>
      </div>
      <div class="col mb-2">
        <div class="d-flex justify-content-start">
          <label class="custom-control custom-checkbox mb-3" for="contracts.isActive">
            <input type="checkbox" class="custom-control-input" [checked]="contracts.isActive?'checked':''" [(ngModel)]="contracts.isActive" name="contracts.isActive" id="contracts.isActive">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Is Active</span>
          </label>

        </div>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col" *ngIf="successMessageContract">
        <div class="d-flex justify-content-start">
          <span class="mr-auto">
            <ngb-alert *ngIf="isSuccessContract" type="success" (close)="successMessageContract = null">{{ successMessageContract }}</ngb-alert>
            <!--<strong>{{successMessage}}</strong>-->
          </span>
        </div>

      </div>
      <div class="col">
        <button class="btn btn-primary lgnbtn" type="button" (click)="onCreateContract(contracts)">Submit</button>
      </div>
    </div>
    

    <!--</form>-->

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
  </div>
</ng-template>
