.lgnbtn {
  background: #259dd0;
  float: right;
  outline: none;
  border: none;
  cursor: pointer;
}


.switch {
  position: relative;
  display: block;
  width: 60px;
  height: 34px;
  margin: 0px auto;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #259dd0;
}

input:focus + .slider {
  box-shadow: 0 0 1px #259dd0;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.gear_icn {
  text-align: center;
  position: relative;
}

.gric {
  color: #ccc;
  cursor: pointer;
  font-size: 1.2rem;
}

.pop_actions {
  background-color: #fff;
  text-align: left;
  position: absolute;
  left: 5px;
  z-index: 10;
  box-shadow: 0px 0px 10px #666;
}

.pop_actions p {
  padding: 0px;
  margin: 0px;
  font-size: 12px;
  padding: 8px 10px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.closer {
  display: block;
  text-align: center;
  padding: 12px 0px;
  text-transform: uppercase;
  font-size: 11px;
  cursor: pointer;
  color: #259dd0;
}
.custom-control-input:checked ~ .custom-control-indicator {
  background-color: #259dd0 !important;
  border-color: #259dd0 !important;
}
.crt_btn {
  color: #259dd0;
  font-weight: 600;
}
.grnclr {
  color: #44d444;
}

.rdclr {
  color: red;
}
.txtalign {
  font-size: 11px;
}
.txtclolor {
  color: blue;
}
.image-upload > input {
  display: none;
}
.image-upload{
  width:150px;
  height:150px;
  overflow:hidden;
  border-radius:50%;
  background-color:aqua;

}
.rounded-circle {
  border-radius: 50%;
  width: 50px;
  height: 50px !important;
}

