<div class="d-flex align-items-stretch min-height-100 h-100">
  <div class="bg-cover bg-3 hidden-sm-down col-md-6 col-lg-8"></div>
  <div class="card card-block mb-0 rounded-0 p-5 col-sm-12 col-md-6 col-lg-4">
    <form [formGroup]="form" (ngSubmit)="onSignin()" class="fp_formcenter">
      <div class="mb-3">
        <img src="assets/images/logo-trans.png" class="avatar-xs mb-1 logopad" alt="">
        <p class="ff-headers text-uppercase">Recover your password</p>
      </div>
      <fieldset class="form-group" [ngClass]="{'has-danger': form.controls['uname'].hasError('required') && form.controls['uname'].touched}">
        <label for="username" class="form-control-label">
          Enter your username
        </label>
        <input type="text" class="form-control" placeholder="Username" [formControl]="form.controls['uname']" [ngClass]="{'form-control-danger': form.controls['uname'].hasError('required') && form.controls['uname'].touched}" />
        <div class="form-control-feedback" *ngIf="form.controls['uname'].hasError('required') && form.controls['uname'].touched">Username is required.</div>
      </fieldset>
      <button class="btn btn-primary fpbtn" type="submit" [disabled]="!form.valid">Reset password</button>
      <a class="btn btn-outline-primary btn-link crt_btn" (click)="onSignin()">Login!</a>
    </form>
  </div>
</div>
