.avatar-xs {
  width: 6rem;
}

.fp_formcenter {
  position: absolute;
  width: 70%;
  left: 50%;
  top: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.logopad {
  margin: 0px 0px 0px 0px;
  padding-bottom: 15px;
}

.fpbtn {
  background: #259dd0;
  background: -moz-linear-gradient(left, #259dd0 0%, #162448 100%);
  background: -webkit-linear-gradient(left, #259dd0 0%,#162448 100%);
  background: linear-gradient(to right, #259dd0 0%,#162448 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#259dd0', endColorstr='#162448',GradientType=1 );
  border: none;
}

.crt_btn {
  color: #259dd0!important;
  font-weight: 400!important;
}

.custom-control-input:checked ~ .custom-control-indicator {
  background-color: #259dd0 !important;
  border-color: #259dd0 !important;
}
