<div class="card">
  <div class="card-block">
    <h6 class="text-uppercase mt-0 mb-3">Service Logs Details</h6>
    <br />
    <div class="row mb-2">
      <div class="col mb-2">
        <div class="d-flex justify-content-start">
          <div class="col mb-6">
            <strong class="mr-auto">Service Type</strong>
            </div>
            <div class="col mb-6">
              <span>{{servicelog.serviceType}}</span>
              </div>
            </div>
          </div>
      <div class="col mb-2">
        <div class="d-flex justify-content-start">
          <div class="col mb-6">
            <strong class="mr-auto"> Sender Id</strong>
            </div>
            <div class="col mb-6">
              <span>{{servicelog.senderId}}</span>
              </div>
            </div>
          </div>
    </div>

    <div class="row mb-2">
      <div class="col mb-2">
        <div class="d-flex justify-content-start">
          <div class="col mb-6">
            <strong class="mr-auto">Receiver Id</strong>
            </div>
            <div class="col mb-6">
              <span>{{servicelog.receiverId}}</span>
              </div>
            </div>
          </div>
      <div class="col mb-2">
        <div class="d-flex justify-content-start">
          <div class="col mb-6">
            <strong class="mr-auto">Schedule Id</strong>
            </div>
            <div class="col mb-6">
              <span>{{servicelog.scheduleId}}</span>
              </div>
            </div>
          </div>
    </div>

    <div class="row mb-2">
      <div class="col mb-2">
        <div class="d-flex justify-content-start">
          <div class="col mb-6">
            <strong class="mr-auto">Start Date</strong>
            </div>
            <div class="col mb-6">
              <span>{{servicelog.startTime | date:'dd-MM-yyyy HH:mm'}}</span>
              </div>
            </div>
          </div>
      <div class="col mb-2">
        <div class="d-flex justify-content-start">
          <div class="col mb-6">
            <strong class="mr-auto">End Date</strong>
            </div>
            <div class="col mb-6">
              <span>{{servicelog.endTime | date:'dd-MM-yyyy HH:mm'}}</span>
              </div>
            </div>
          </div>
    </div>

    <div class="row mb-2">
      <div class="col mb-2">
        <div class="d-flex justify-content-start">
          <div class="col mb-6">
            <strong class="mr-auto">Service Status</strong>
            </div>
            <div class="col mb-6">
              <span>{{servicelog.serviceStatus}}</span>
              </div>
            </div>
          </div>
      <div class="col mb-2">
        <div class="d-flex justify-content-start">
          <div class="col mb-6">  <strong class="mr-auto">Service Code</strong></div>
          <div class="col mb-6"> <span>{{servicelog.serviceCode}}</span> </div>
        </div>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col mb-2">
        <div class="d-flex justify-content-start">
          <div class="col mb-6">
            <strong class="mr-auto">Created At</strong>
            </div>
            <div class="col mb-6">
              <span>{{servicelog.createdAt | date:'dd-MM-yyyy HH:mm'}}</span>
              </div>
            </div>
          </div>
      <div class="col mb-2">
        <div class="d-flex justify-content-start">
          <div class="col mb-6">
            <strong class="mr-auto">Updated At</strong>
            </div>
            <div class="col mb-6">
              <span>{{servicelog.updatedAt | date:'dd-MM-yyyy HH:mm'}}</span>
              </div>
            </div>
          </div>
    </div>

  </div>
</div>
