<div class="card">
  <div class="card-header">
    List of Orders
  </div>
  <div class="card-block">
    <div class="List of Orders">
      <table class="table table-bordered table-striped mb-0">
        <thead>
          <tr>
            <th>
              ID
            </th>
            <th class="numeric">
              Financial TransactionId
            </th>
            <th class="numeric">
              Service TransactionId
            </th>
            <th class="numeric">
              Service Status
            </th>
            <th class="numeric">
              Order Type
            </th>
            <th>
              Updated By
            </th>
            <th class="numeric">
              Creator
            </th>
            <th>Order Service Status</th>
            <th>Order Payment Status</th>
            <th>Created Date</th>
            <th>Updated Date</th>
            <th>Order Date</th>
            <th class="numeric">
              Orders Status
            </th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of ordersList ; let i=index">
            <td data-title="ID">
              {{i+1}}
            </td>
            <td data-title="Financial TransactionId">
              {{item.financialTransId}}
            </td>
            <td data-title="Service TransactionId">
              {{item.serviceTransId}}
            </td>
            <td data-title="Service Status">
              {{item.serviceStatus}}
            </td>
            <td data-title="Order Type">
              {{item.orderType}}
            </td>
            <td data-title="Updated By">
              {{item.updatedBy}}
            </td>
            <td data-title="Creator">
              {{item.createdBy}}
            </td>
            <td data-title="Order Service Status"> {{item.orderServiceStatus}}</td>
            <td data-title="Order Payment Status"> {{item.orderPaymentStatus}}</td>
            <td data-title="Created Date"> {{item.createdDateTime | date:'dd-MM-yyyy HH:mm'}}</td>
            <td data-title="Updated Date"> {{item.updatedDateTime | date:'dd-MM-yyyy HH:mm'}}</td>
            <td data-title="Order Date<"> {{item.orderDateTime | date:'dd-MM-yyyy HH:mm'}}</td>
            <td data-title="Order Status">
              <select class="form-control"  [(ngModel)]="item.ordersStatus" (change)="OnOrderStatusChange(item.ordersStatus, item)">
                <option value="placed">Placed</option>
                <option value="under process">Under Process</option>
                <option value="ready for shipping">Ready for Shipping</option>
                <option value="shipped">Shipped</option>
                <option value="drop shipped">Drop Shipped</option>
                <option value="delivered">Delivered</option>
                <option value="returned">Returned</option>
                <option value="canceled">Canceled</option>
              </select>
            </td>

            <td class="gear_icn">
              <span (click)="showPopActions(item._id)"><i class="fas fa-cog gric"></i></span>
              <div class="pop_actions" *ngIf="showActions==item._id" id="two">
                <p (click)="onViewOrdersById(item._id)">View Order Details</p>
                <p>Order History</p>
                <p>Analytics</p>
                <span class="closer" (click)="hidePopActions()">Close <i class="fas fa-times"></i></span>
              </div>
            </td>
          </tr>
        
        </tbody>
      </table>
    </div>
  </div>
</div>
