<div class="card">
  <div class="card-header">
    List of Inventory
  </div>
  <div class="card-block">
    <div class="List of Inventory">
      <table class="table table-bordered table-striped mb-0">
        <thead>
          <tr>
            <th>
              ID
            </th>
            <th>
              Title
            </th>
            <th class="numeric">
             Category
            </th>
            <th class="numeric">
              Created By
            </th>
            <th class="numeric">
              Created Date 
            </th>
            <th class="numeric">
              Tags 
            </th>
            <th class="numeric">
              Orders
            </th>
            <th class="numeric">
              Revenue $
            </th>
            <th class="numeric">
              Status
            </th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td data-title="ID">
              001
            </td>
            <td data-title="Title">
              Tops
            </td>
            <td data-title="Category">
              Costumes
            </td>
            <td data-title="Created By">
              Praneeth Vadloori
            </td>
            <td data-title="Created Date">
              01-02-2018
            </td>
            <td data-title="Tags">
              Costumes, Fashion, DesignerDressess
            </td>
            <td data-title="Orders">
              2
            </td>
            <td data-title="Revenue $" class="numeric">
              $15.18
            </td>
            <td data-title="Status">
              <select class="form-control">
                <option value="new">New</option>
                <option value="under review">Under Review</option>
                <option value="review approved">Review Approved</option>
                <option value="review rejected">Review Rejected</option>
                <option value="archived">Archived</option>
              </select>
            </td>
            <td class="gear_icn">
              <span (click)="showPopActionsOne()"><i class="fas fa-cog gric"></i></span>
              <div class="pop_actions" *ngIf="showActionsOne" id="one">
                <p>View Product</p>
                <p>Analytics</p>

                <span class="closer" (click)="hidePopActions()">Close <i class="fas fa-times"></i></span>
              </div>
            </td>
          </tr>
          <tr>
            <td data-title="ID">
              002
            </td>
            <td data-title="Title">
              Coats
            </td>
            <td data-title="Category">
              Costumes
            </td>
            <td data-title="Created By">
              Praneeth Vadloori
            </td>
            <td data-title="Created Date">
              01-02-2018
            </td>
            <td data-title="Tags">
              Costumes, Fashion, DesignerDressess
            </td>
            <td data-title="Orders">
              8
            </td>
            <td data-title="Revenue $" class="numeric">
              $11.38
            </td>
            <td data-title="Status">
              <select class="form-control">
                <option value="new">New</option>
                <option value="under review">Under Review</option>
                <option value="review approved">Review Approved</option>
                <option value="review rejected">Review Rejected</option>
                <option value="archived">Archived</option>
              </select>
            </td>
            <td class="gear_icn">
              <span (click)="showPopActionsTwo()"><i class="fas fa-cog gric"></i></span>
              <div class="pop_actions" *ngIf="showActionsTwo" id="two">
                <p>View Product</p>
                <p>Analytics</p>

                <span class="closer" (click)="hidePopActions()">Close <i class="fas fa-times"></i></span>
              </div>
            </td>
          </tr>
          <tr>
            <td data-title="ID">
              003
            </td>
            <td data-title="Title">
              Shoes
            </td>
            <td data-title="Category">
              Costumes
            </td>
            <td data-title="Created By">
              Praneeth Vadloori
            </td>
            <td data-title="Created Date">
              01-02-2018
            </td>
            <td data-title="Tags">
              Costumes, Fashion, DesignerDressess
            </td>
            <td data-title="Orders">
             2
            </td>
            <td data-title="Revenue $" class="numeric">
              $85.38
            </td>
            <td data-title="Status">
              <select class="form-control">
                <option value="new">New</option>
                <option value="under review">Under Review</option>
                <option value="review approved">Review Approved</option>
                <option value="review rejected">Review Rejected</option>
                <option value="archived">Archived</option>
              </select>
            </td>
            <td class="gear_icn">
              <span (click)="showPopActionsThree()"><i class="fas fa-cog gric"></i></span>
              <div class="pop_actions" *ngIf="showActionsThree" id="three">
                <p>View Product</p>
                <p>Analytics</p>

                <span class="closer" (click)="hidePopActions()">Close <i class="fas fa-times"></i></span>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
