.membername {
  margin-left: 14px;
  cursor: pointer;
}
.floater_div{ float:right; position:relative; top:-50px;}

.border {
  border: 1px solid rgba(0,0,0,.125);
  min-width: 0;
  
}
.topspace {
  margin-top: 50px;
}
.paraspace{
  
  margin-left: 18px;
}
.rounded-circle {
  border-radius: 50%;
  width: 50px;
  height: 50px !important;
}
