<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-block">
        <div class="pl-3">
          <div class="row">
            <div class="col">
              <a class="pull-left avatar-sm" href="javascript:;">
                <img class="img-fluid rounded-circle" src="{{imageUrlWithSlash+feedList.profilePicPath}}"/>
              </a>

              <!--<div class="col" style="margin-right: 1440px;margin-top: 15px;">-->
              <!--<span class="d-block txtclolor">-->
              <b class="membername">{{feedList.memberName}}</b>
              <!--</span>-->
              <!--</div>-->
            </div>
          </div>
        </div>
        <!--<h5 class="card-title">
      {{feedList.title}}
    </h5>
    <p class="card-text">
      {{feedList.content}}
    </p>-->
        <div class="floater_div">
          <p><b>Created Date:</b> {{feedList.created_at  | date:'dd-MM-yyyy' }}</p>
          <p><b>Created By:</b> {{feedList.memberName}}</p>
        </div>
        <!--<div class="clearfix"></div>-->

        <!--<p class="card-text">
      <small class="text-muted">
        Last updated 3 mins ago
      </small>
    </p>-->
      </div>
      <!--<img class="card-img-bottom img-fluid" src="{{imageUrlWithSlash+feedList.mediaSrc}}" alt="Card image cap" style="width: 350px;height: 300px;margin-left: 18px;" />
  <div style="margin-left: 18px;" class="row" *ngIf="feedList.mediaSrc!=''">
    <div class="col">
      <img class="card-img-bottom img-fluid" src="assets/images/view.png" /> &nbsp; 50
    </div>
    <div class="col" style="margin-left: -742px;margin-right: -450px;">
      <img class="card-img-bottom img-fluid" src="assets/images/like.png" /> &nbsp; 100
    </div>
    <div class="col" style="margin-left: -292px;margin-right: -742px;">
      <img class="card-img-bottom img-fluid" src="assets/images/download.png" /> &nbsp; 10
    </div>
    <div class="col" style="margin-right: 508px;">
      <img class="card-img-bottom img-fluid" src="assets/images/share.png" /> &nbsp; 15
    </div>
  </div>-->
      <!--<div class="card">-->
        <ngb-tabset class="card-tab">
          <ngb-tab>
            <ng-template ngbTabTitle>Content</ng-template>
            <ng-template ngbTabContent>
              <div class="card">
                <!--<div class="card-header">
                  If Content Array > 0
                </div>-->
                <div class="card-block">
                  <div class="List of Transactions">
                    <p><b>Content:</b> {{feedList.content}}</p>
                  </div>
                  <div class="row topspace" *ngFor="let item of feedList.contentArray;let i=index">
                    <div class="col border">
                      <p class="paraspace" style="margin-top: 20px;"><b>Page</b> {{i+1}}</p>
                      <p class="paraspace"><b>Title:</b>{{item.contentTitle}}</p><br />
                      <p class="paraspace"><b>Description:</b>{{item.contentDescription}}</p><br />
                      <img class="card-img-bottom img-fluid" src="{{imageUrlWithSlash+item.contentUrl}}" alt="Card image cap" style="width: 350px;height: 300px;margin-left: 18px;margin-bottom: 26px;" />
                      <br />
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>Media</ng-template>
            <ng-template ngbTabContent>
              <div class="card">
                <!--<div class="card-header">
                  If Media Array >0
                </div>-->
                <div class="card-block">
                  <div class="List of Transactions">
                    <img *ngIf="feedList.mediaSrc" class="card-img-bottom img-fluid" src="{{imageUrlWithSlash+feedList.mediaSrc}}" alt="Card image cap" style="width: 350px;height: 300px;margin-left: 18px;" />
                    <div class="row topspace" *ngFor="let item of feedList.mediaArray;let i=index">
                      <div class="col border">
                        <p class="paraspace" style="margin-top: 20px;"><b>Media Name:</b> {{item.mediaName}}</p><br />
                        <p class="paraspace"><b>Media Id:</b> {{item.media_id}}</p><br />
                        <img class="card-img-bottom img-fluid" src="{{imageUrlWithSlash+item.mediaUrl}}" alt="Card image cap" style="width: 350px;height: 300px;margin-left: 18px;margin-bottom: 26px;" />
                        <br />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Settings">
            <ng-template ngbTabContent>
              <!-- <div class="activity-stream">-->
              <div class="card">
                <div class="card-header">
                  <div class="row md-3">
                    <div class="col">

                      <label class="custom-control custom-checkbox mb-3" for="Downloadable">
                        <input type="checkbox" class="custom-control-input" id="Downloadable" [checked]="feedList.downloadOptions.downloadStatus?'checked':''" [(ngModel)]="feedList.downloadOptions.downloadStatus">
                        <span class="custom-control-indicator"></span>
                        <p class="custom-control-description">Downloadable</p>
                      </label>
                      <br />
                      <label class="custom-control custom-checkbox mb-3" for="OffLineStatus">
                        <input type="checkbox" class="custom-control-input" id="OffLineStatus" [checked]="feedList.offlineStatus?'checked':''" [(ngModel)]="feedList.offlineStatus">
                        <span class="custom-control-indicator"></span>
                        <p class="custom-control-description">OffLine Status</p>
                      </label>
                      <br />
                      <label class="custom-control custom-checkbox mb-3" for="ProfanityCheck">
                        <input type="checkbox" class="custom-control-input" id="ProfanityCheck" [checked]="feedList.profanityCheck?'checked':''" [(ngModel)]="feedList.profanityCheck">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Profanity Check</span>
                      </label>
                      <br />
                      <label class="custom-control custom-checkbox mb-3" for="IsPromoted">
                        <input type="checkbox" class="custom-control-input" id="IsPromoted" [checked]="feedList.isPrometed?'checked':''" [(ngModel)]="feedList.isPrometed">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Is Promoted</span>
                      </label>
                      <br />
                      <label>
                        View Options: <!--<span> {{feedList.viewOptions}}</span>-->
                        <input type="text" [(ngModel)]="feedList.viewOptions" class="form-control"/>
                      </label><br/>

                      <input type="button" value="Update Settings" class="btn btn-secondary" (click)="onUpdateSettings(feedList)"/>
                      <!--<input type="text" id="ViewOptions" [(ngModel)]="feedList.viewOptions">-->
                    </div>

                    <!--<div class="col">
                  <p>Created Date</p>
                  <p>{{feedList.created_at  | date:'dd-MM-yyyy' }}</p>
                </div>
                <div class="col">
                  <p>Created By</p>
                  <p>{{feedList.memberName}}</p>
                </div>-->
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>Marketing</ng-template>
            <ng-template ngbTabContent>
              <div class="card">
                <div class="card-header">
                  Boost Settings
                </div>
                <div class="card-block">
                  <div class="List of Transactions">
                    <p>Proposed Budget: {{feedList.boostSettings.proposedBudget}} </p>
                    <input type="text" [(ngModel)]="feedList.boostSettings.proposedBudget" />


                    <p>Propsed Reach : {{feedList.boostSettings.proposedReach}} </p>
                    <input type="text" [(ngModel)]="feedList.boostSettings.proposedReach" />

                  </div>
                  <input type="button" value="Update" class="btn btn-secondary" (click)="OnBoostSettingsUpdate(feedList)"/>
                </div>
              </div>
            </ng-template>
          </ngb-tab>

        </ngb-tabset>
      <!--</div>-->
    </div>
  </div>
</div>

  

