<div class="card">
  <div class="card-header">
    List of Service Logs
  </div>
  <div class="card-block">
    <div class="List of Schedules">
      <table class="table table-bordered table-striped mb-0">
        <thead>
          <tr>
            <th>
              ID
            </th>
            <th>
              Service Type
            </th>
            <th>
              Sender Id
            </th>
            <th>
              Receiver Id
            </th>
            <th>
              Schedule Id
            </th>
            <th>
              Start Time
            </th>
            <th>
              End Time
            </th>
            <th class="numeric">
              Service Status
            </th>
            <th>Service Code</th>
            <th class="numeric">
              Created At
            </th>
            <th>Updated At</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of servicelogsList ; let i=index">
            <td data-title="ID">
              {{i+1}}
            </td>
            <td data-title="Service Type">
              {{item.service_type}}
            </td>
            <td data-title="Sender Id">
              {{item.senderId}}
            </td>
            <td data-title="Receiver Id">
              {{item.receiverId}}
            </td>
            <td data-title="Schedule Id">
              {{item.scheduleId}}
            </td>
            <td data-title="Start Time">
              {{item.startTime | date:'dd-MM-yyyy HH:mm'}}
            </td>
            <td data-title="End Time">
              {{item.endTime | date:'dd-MM-yyyy HH:mm'}}
            </td>

            <td data-title="Service Status">
              {{item.serviceStatus}}
            </td>
            <td data-title="Service Code">
              {{item.serviceCode}}
            </td>
            <td data-title="Created At">
              {{item.createdAt}}
            </td>
            <td data-title="Updated At">
              {{item.updatedAt}}
            </td>
            <td class="gear_icn">
              <span (click)="showPopActions(item._id)"><i class="fas fa-cog gric"></i></span>
              <div class="pop_actions" *ngIf="showActions==item._id" id="two">
                <p (click)="onViewServiceLogsById(item._id)">View User Timeline</p>
                <p>View Celebrity Timeline</p>
                <p>Calender View</p>
                <p>List View</p>
                <span class="closer" (click)="hidePopActions()">Close <i class="fas fa-times"></i></span>
              </div>
            </td>
          </tr>

      </table>
    </div>
  </div>
</div>
