<div class="card">
  <div class="card-header">
   List of Activities
  </div>
  <div class="card-block">
    <div class="List of Schedules">
      <table class="table table-bordered table-striped mb-0">
        <thead>
          <tr>
            <th>
              ID
            </th>
            <th>
              Old Values
            </th>
            <th>
              New Values
            </th>
            <th>
              Activity Name
            </th>
            <th>
              Created At
            </th>
            <th>
              Updated At
            </th>
            <th>
              Activity Status
            </th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of activitiesList ; let i=index">
            <td data-title="ID">
              {{i+1}}
            </td>
            <td data-title="Old Values">
              {{item.oldValues.name}}
            </td>
            <td data-title="New Values">
              {{item.newValues.name}}
            </td>
            <td data-title="Activity Name">
              {{item.activityName}}
            </td>
            <td data-title="Created At">
              {{item.created_at | date:'dd-MM-yyyy HH:mm'}}
            </td>
            <td data-title="Updated At">
              {{item.updated_at | date:'dd-MM-yyyy HH:mm'}}
            </td>
            <td data-title="Activity Status">
              {{item.activityStatus}}
            </td>
            <td class="gear_icn">
              <span (click)="showPopActions(item._id)"><i class="fas fa-cog gric"></i></span>
              <div class="pop_actions" *ngIf="showActions==item._id" id="two">
                <p (click)="onViewActivityById(item._id)">View User Timeline</p>
                <p>View Celebrity Timeline</p>
                <p>Calender View</p>
                <p>List View</p>
                <span class="closer" (click)="hidePopActions()">Close <i class="fas fa-times"></i></span>
              </div>
            </td>
          </tr>
       
      </table>
    </div>
  </div>
</div>
