<div class="card-block">
  <h6 class="text-uppercase mt-0 mb-3">Promoted App Information</h6>

  <div class="row mb-2">
    <div class="col mb-2">
      <div class="d-flex justify-content-start">
        <div class="col mb-6"><strong>App Id</strong></div>
        <div class="col mb-6"><span>{{promotion._id}}</span></div>
      </div>
    </div>
    <div class="col mb-2">
      <div class="d-flex justify-content-start">
        <div class="col mb-6">
          <strong>Member ID</strong>
        </div>
        <div class="col mb-6">
          <span>{{promotion.memberId}}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col mb-2">
      <div class="col mb-2">
        <div class="d-flex justify-content-start">
          <span class="mr-auto">Installer IncentiveValue</span>
          <input type="text" id="location" [(ngModel)]="promotion.installerIncentiveValue" />
        
        </div>
      </div>

    </div>
    <div class="col mb-2">

      <div class="d-flex justify-content-start">
        <span class="mr-auto">Promoter IncentiveValue</span>
        <input type="text" id="location" [(ngModel)]="promotion.promoterIncentiveValue" />
        </div>
    </div>

  </div>
  <div class="row mb-2">
    <div class="col mb-2">
      <div class="col mb-2">
        <div class="d-flex justify-content-start">
          <span class="mr-auto">Status</span>
          <select class="form-control" [(ngModel)]="promotion.status" style="width: 170px;">
            <option value="approved">Approved</option>
            <option value="pending">Pending</option>
            <option value="rejected">Rejected</option>
          </select>
        </div>
      </div>

    </div>
    <div class="col mb-2">

      <div class="d-flex justify-content-start">
        <span class="mr-auto">Rejected Reason</span>
        <input type="text" id="location" [(ngModel)]="promotion.rejectedReason" />

      </div>
    </div>

  </div>
  <div class="row mb-2">
    <div class="col mb-2">
      <div class="d-flex justify-content-start">
        <span class="mr-auto">Created At</span>
        <p>{{promotion.createdAt}}</p>
      </div>
    </div>
    <div class="col mb-2">
      <div class="d-flex justify-content-start">
        <span class="mr-auto">Updated At</span>
        <input type="date" id="updatedat" [(ngModel)]="promotion.updatedAt" />
      </div>

    </div>
  </div>
  <div class="row mb-2">

    <div class="col mb-2">
      <div class="d-flex justify-content-start">
        <span class="mr-auto">reqDateTime</span>
        <input type="date" format='mm-dd-yyyy' id="reqDateTime" [(ngModel)]="promotion.reqDateTime" />
      </div>
    </div>

  </div>




  <div class="row mb-2">
    <div class="col mb-2">
      <div class="d-flex justify-content-start">
        <span class="mr-auto">
          <button class="btn btn-primary lgnbtn" type="submit" (click)="onUpdateAppPromotion(promotion)">Update App Promotion</button>
        </span>
      </div>
    </div>

  </div>

  <!--new code starts-->
  <div class="card">
    <!--<div class="card-header"></div>-->
    <div class="card-block">
      <!--<button class="btn btn-secondary" (click)="open(content)">Modal with default options</button>
      <pre>{{closeResult}}</pre>-->
      <!--<div role="document" class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h6 class="modal-title text-uppercase">Modal title</h6>
            <button aria-label="Close" class="close" type="button">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <p>One fine body…</p>
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button">Close</button>
          </div>
        </div>
      </div>-->
    </div>
  </div>

  <ng-template ngbModalContainer></ng-template>
  <ng-template #content let-c="close" let-d="dismiss">
    <!--<div class="modal-header">
      <h6 class="modal-title text-uppercase">Modal title</h6>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>-->

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
    </div>
  </ng-template>
  <!--new code starts-->
  <div class="row mb-2" *ngIf="successMessage">
    <div class="col">
      <div class="d-flex justify-content-start">
        <span class="mr-auto">
          <ngb-alert *ngIf="isSuccess" type="success" (close)="successMessage = null">{{ successMessage }}</ngb-alert>
          <ngb-alert *ngIf="isError" type="danger" (close)="successMessage = null">{{ successMessage }}</ngb-alert>
          <!--<strong>{{successMessage}}</strong>-->
        </span>
      </div>
    </div>
  </div>
</div>
