<div class="card">
  <div class="card-header">
    List of App Promotions
  </div>
  <div class="card-block">
    <div class="List of App Promotions">
      <table class="table table-bordered table-striped mb-0">
        <thead>
          <tr>
            <th>
              ID
            </th>
            <th>
              Member ID
            </th>
            <th class="numeric">
              Updated
            </th>
            <th class="numeric">
              Created
            </th>
            <th>
              Rejected Reason
            </th>
            <th>
              Approved Date
            </th>
            <th>
              ApprovedBy
            </th>
            <th>
              Status
            </th>
            <th class="numeric">
              IncentiveValue
            </th>
            <th>ReqDateTime</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of promotions ; let i=index">
            <td data-title="ID">
              {{i+1}}
            </td>
            <td data-title="Member ID">
              {{item.memberId}}
            </td>
            <td data-title="Updated">
              {{item.updatedAt}}
            </td>
            <td data-title="Created">
              {{item.createdAt}}
            </td>
            <td data-title="Rejected Reason">
              {{item.rejectedReason}}
            </td>
            <td data-title="Approved Date">
              {{item.approvedDateTime}}
            </td>
            <td data-title="ApprovedBy">
              {{item.approvedBy}}
            </td>
            <td data-title="Status">
              {{item.status}}
            </td>
            <td data-title="Status">
              {{item.incentiveValue}}
            </td>
            <td data-title="Status">
              {{item.reqDateTime}}
            </td>

            <td class="gear_icn">
              <span (click)="showPopActions(item._id)"><i class="fas fa-cog gric"></i></span>
              <!--<div class="pop_actions" *ngIf="showActions==item._id">
                <p >View Transaction Details</p>
                <p >Transaction Timeline</p>
                <p>Analytics</p>
                <span class="closer" (click)="hidePopActions()">Close <i class="fas fa-times"></i></span>
              </div>-->
            </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>

