.configuration {
  width: 240px;
  position: fixed;
  right: 0;
  top: 150px;
 display:none;
  margin-left: 0;
  z-index: 99999999;
  transition: transform .3s ease-in-out;
  transform: translate(100%, 0);
  .card {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin: 0;
    border-radius: 0;
  }
}
.configuration.active {
  transform: translate(0, 0);
}
.configuration-cog {
  width: 50px;
  height: 50px;
  position: absolute;
  left: -50px;
  line-height: 50px;
  font-size: 24px;
  text-align: center;
  background: #fff;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  cursor: pointer;
  i:before {
    line-height: 50px;
  }
}
.spnl {
  background-color: none !important;
}

.cb_logo {
  height: 55px !important;
}

.spnl2 {
  background-color: #000; border-bottom:1px solid #333;
}
.wlcm_user{ color:#fff;  text-align:left; font-weight:600; font-family: "Arimo", Helvetica, sans-serif; font-size:12px; position:absolute; right:40px;}
.navbar-heading{ font-weight:600;}
.user_icoprofile{ position:absolute; right:10px; color:#fff; font-size:1.5rem; cursor:pointer;}
.cbfoot{ background-color:#fff;}

