<div class="card">
  <div class="card-header">
    List of Celeb Requests
  </div>
  <div class="card-block">
    <div class="List of Celeb Requests">
      <table class="table table-bordered table-striped mb-0">
        <thead>
          <tr>
            <th>
              ID
            </th>
            <th>
              Member ID
            </th>
            <th class="numeric">
              __v
            </th>
            <th class="numeric">
              updatedAt
            </th>
            <th>
              createdAt
            </th>
            <th>
              reqDateTime
            </th>
         
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of celebrequests;">
            <td data-title="ID">
              {{item._id}}
            </td>
            <td data-title="Member ID">
              {{item.memberId}}
            </td>
            <td data-title="Updated">
              {{item.__v}}
            </td>
            <td data-title="Created">
              {{item.updatedAt}}
            </td>
            <td data-title="Created">
              {{item.createdAt}}
            </td>
            <td data-title="Created">
              {{item.reqDateTime}}
            </td>
           
         

            <td class="gear_icn">
              <span (click)="showPopActions(item.memberId)"><i class="fas fa-cog gric"></i></span>
              <!--<div class="pop_actions" *ngIf="showActions==item._id">
                <p >View Transaction Details</p>
                <p >Transaction Timeline</p>
                <p>Analytics</p>
                <span class="closer" (click)="hidePopActions()">Close <i class="fas fa-times"></i></span>
              </div>-->
            </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>

