<div class="card">
  <div class="card-header">
   List of Event Logs
  </div>
  <div class="card-block">
    <div class="List of Events">
      <table class="table table-bordered table-striped mb-0">
        <thead>
          <tr>
            <th>
              ID
            </th>
            <th>
              Type
            </th>
            <th>
              Trans Reference Id
            </th>
            <th>
              Member Id
            </th>
            <th>
              Status
            </th>
            <th>Created Date</th>
            <th>Updated Date</th>
            <th>Ip Address</th>
            <th>Version</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of eventLogsList ; let i=index">
            <td data-title="ID">
              {{i+1}}
            </td>
            <td data-title="Type">
              {{item.type}}
            </td>
            <td data-title="Trans Reference Id">
              {{item.tranRefId}}
            </td>
            <td data-title="Member Id">
              {{item.memberId}}
            </td>
            <td data-title="Status">
              {{item.status}}
            </td>
            <td data-title="Created Date">
              {{item.createdAt}}
            </td>
            <td data-title="Updated Date">
              {{item.updatedAt}}
            </td>
            <td data-title="Ip Address">
              {{item.ipAddr}}
            </td>
            <td>{{item.__v}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
