.line-container {
  height: 300px;
  width: 100%;
  display: block;
}
.gauge-container {
  height: 300px;
  width: 100%;
  display: block;
}
.rm{ display:block; }
.blk1{ float:left; margin-left:10px;}
.blk2{ float:right; margin-left:20px;}
.grn{ color:#44d444; font-size:10px; position:relative; top:-12px; left:-2px;}
.acti_btnswwrap{ float:right;}
.btnr{ padding:5px 8px; color: rgba(0, 0, 0, 0.3);}
.tcs{color: rgb(0, 153, 204)!important;}
.tcs1{color: rgb(46, 204, 113)!important;}
.tcs2{color: rgb(76, 195, 217)!important;}
.tcs3{color: rgb(255, 198, 93)!important;}
.tcs4{color: rgb(217, 101, 87)!important;}
.appromo{ line-height:1;}
.tooltip-area{ display:none;}
.rf{ margin-left:10px; color:rgb(0, 153, 204);}
.lftarw{ position:absolute; left:10px; top:40%; color:#fff;}
.rftarw{ position:absolute; right:10px; top:40%; color:#fff;}
.d-block{ color:rgb(0, 153, 204);}
.grnclr{ color:#44d444;}
.rdclr{ color:red;}
.blue_bg{ background-color:rgb(0, 153, 204);}
.blk_clr{ color:#000;}
.pro_list{ list-style:none; padding:0px; margin:0px;}
.pro_list li{ float:left;  padding-left:15px;}
.zoomer{ float:right; font-size:1.5rem; position:relative; padding:5px 0px; right:20px; color:#666; bottom:10px; cursor:pointer;}
.pop_data{ width:300%; height:200%; background-color:rgba(255, 255, 255, 1); z-index:100; top:-90%;  position:absolute;
  overflow:hidden;
}
.zoomerm{
  float:right; font-size:1.5rem; position:absolute; padding:5px 0px; right:20px; color:#666; top:10px; cursor:pointer;
}
