<div class="row">
  <div class="col-sm-6 col-md-3">
    <div class="card card-block card-widget">
      <div class="widget-icon rounded-circle bg-green text-white "><i class="fas fa-users"></i></div>
      <div class="block ml-3 mr-3">
        <h5 class="mb-0 fw-400">
          600 / 500 <span><i class="fas fa-circle grn"></i></span>
        </h5>
        <small class="text-muted text-uppercase ">
          <strong>Registered Members</strong>
        </small>
      </div>



    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="card card-block card-widget">
      <div class="widget-icon rounded-circle bg-blue text-white"><i class="fas fa-star"></i> </div>
      <div class="block ml-3 mr-3">
        <h5 class="mb-0 fw-400">
          400 / 300 <span><i class="fas fa-circle grn"></i></span>
        </h5>
        <small class="text-muted text-uppercase ">
          <strong>Celebrities</strong>
        </small>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="card card-block card-widget">
      <div class="widget-icon rounded-circle bg-teal text-white"> <i class="fas fa-download"></i> </div>
      <div class="block ml-3 mr-3">
        <h5 class="mb-0 fw-400">
          7000 / 1200 *
        </h5>
        <small class="text-muted text-uppercase ">
          <strong>App Installations</strong>
        </small>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="card card-block card-widget">
      <div class="widget-icon rounded-circle bg-red text-white"> <i class="fas fa-street-view"></i> </div>
      <div class="block ml-3 mr-3">
        <h5 class="mb-0 fw-400">
          1000 / 999 <span><i class="fas fa-circle grn"></i></span>
        </h5>
        <small class="text-muted text-uppercase ">
          <strong>Fans</strong>
        </small>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header no-shadow">
        <div class="card-header-text w-100">
          <div class="card-title">
            Activity Summary
            <div class="acti_btnswwrap">
              <button type="button" class="btn-secondary btnr">Current Week</button>
              <button type="button" class="btn-secondary btnr">This Month</button>
              <button type="button" class="btn-secondary btnr">This Quarter</button>
              <button type="button" class="btn-secondary btnr">This year</button>
            </div>
            
          </div>
          <div class="card-subtitle text-capitalize ff-sans">
             updated: 1 hour ago
          </div>
        </div>
      </div>
      <div class="card-block">
        <div class="row text-center">
          <div class="col-xs-6 col-sm-2 text-success tcs">
            <h5 class="mb-0">
              <strong>
                600
              </strong>
            </h5>
            <small>
              Registartions
            </small>
          </div>
          <div class="col-xs-6 col-sm-2 tcs1">
            <h5 class="mb-0">
              <strong>
                500
              </strong>
            </h5>
            <small>
              Subscriptions
            </small>
          </div>
          <div class="col-xs-6 col-sm-2 text-danger tcs2">
            <h5 class="mb-0">
              <strong>
                450
              </strong>
            </h5>
            <small>
              Communications
            </small>
          </div>
          <div class="col-xs-6 col-sm-3 tcs3">
            <h5 class="mb-0">
              <strong>
                575
              </strong>
            </h5>
            <small>
              Content Downloads
            </small>
          </div>
          <div class="col-xs-6 col-sm-3 tcs4">
            <h5 class="mb-0">
              <strong>
                599
              </strong>
            </h5>
            <small class="appromo">
              App Promotions
            </small>
          </div>

          <!--<div class="col-xs-6 col-sm-4">
            <h5 class="mb-0">
              <strong>
                585
              </strong>
            </h5>
            <small>
              Content Promotions
            </small>
          </div>-->

        </div>
      </div>
      <div class="mb-1">
        <ngx-charts-area-chart-stacked (legendlabelclick)="onLegendLabelClick($event)" (select)="select($event)" [curve]="curve" [gradient]="gradient" [legend]="showLegend" [results]="dateData" [roundDomains]="roundDomains" [scheme]="colorScheme" [schemeType]="schemeType" [showGridLines]="showGridLines" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [timeline]="timeline" [tooltipDisabled]="tooltipDisabled" [xAxis]="showXAxis" [xAxisLabel]="xAxisLabel" [yAxis]="showYAxis" [yAxisLabel]="yAxisLabel" class="line-container">
        </ngx-charts-area-chart-stacked>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header no-shadow">
        <div class="card-header-text w-100">
          <div class="card-title">
            Revenue Spread
            <div class="acti_btnswwrap">
              <button type="button" class="btn-secondary btnr">Current Week</button>
              <button type="button" class="btn-secondary btnr">This Month</button>
              <button type="button" class="btn-secondary btnr">This Quarter</button>
              <button type="button" class="btn-secondary btnr">This year</button>
            </div>

          </div>
          <div class="card-subtitle text-capitalize ff-sans">
             Updated: 1 hour ago
          </div>
        </div>
      </div>
      <div class="card-block">
        <div class="row text-center">
          <div class="col-sm-6 col-md-3 text-purple tcs">
            <h5 class="mb-0">
              <strong>
                40%
              </strong>
            </h5>
            <small>
              App Registrations
            </small>
          </div>
          <div class="col-sm-6 col-md-3 tcs1">
            <h5 class="mb-0">
              <strong>
                5%
              </strong>
            </h5>
            <small>
              Fan Subscriptions
            </small>
          </div>
          <div class="col-sm-6 col-md-2 text-indigo tcs2">
            <h5 class="mb-0">
              <strong>
                15%
              </strong>
            </h5>
            <small>
              Communications
            </small>
          </div>
          <div class="col-sm-6 col-md-2 tcs3">
            <h5 class="mb-0">
              <strong>
                8%
              </strong>
            </h5>
            <small>
              E-commerce
            </small>
          </div>

          <div class="col-sm-6 col-md-2 tcs4">
            <h5 class="mb-0">
              <strong>
                32%
              </strong>
            </h5>
            <small>
              Content
            </small>
          </div>
        </div>
      </div>
      <div class="mb-1">
        <ngx-charts-gauge (legendlabelclick)="onLegendLabelClick($event)" (select)="select($event)" [angleSpan]="gaugeAngleSpan" [bigSegments]="gaugeLargeSegments" [legend]="showLegend" [margin]="margin ? [marginTop, marginRight, marginBottom, marginLeft] : null" [max]="gaugeMax" [min]="gaugeMin" [results]="single" [scheme]="colorScheme" [showAxis]="gaugeShowAxis" [smallSegments]="gaugeSmallSegments" [startAngle]="gaugeStartAngle" [textValue]="gaugeTextValue" [tooltipDisabled]="tooltipDisabled" [units]="gaugeUnits" class="gauge-container">
        </ngx-charts-gauge>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-5">
    <div class="card">
      <div class="card-header no-shadow">
        <div class="card-header-text w-100">
          <div class="card-title">
            Activity Feed
          </div>
          <div class="card-subtitle text-capitalize ff-sans">
            Updated: 1 hour ago
          </div>
        </div>
      </div>
      <div class="activity-stream">
        <div class="card">
          <div class="card-header">
            <img class="card-avatar" src="assets/images/face1.jpg" />
            <div class="card-header-text">
              <div class="card-title">
                Received a call from Joel
              </div>
              <div class="card-subtitle">
                at 3:14PM
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <img class="card-avatar" src="assets/images/face2.jpg" />
            <div class="card-header-text">
              <div class="card-title">
                Added C005 to Celebrities
              </div>
              <div class="card-subtitle">
                5 mins ago
              </div>
            </div>
          </div>
          <div class="card-block">
            <p class="mb-0">
              Please click on refresh button to get latest updates
              <span class="rf"><i class="fas fa-sync-alt"></i></span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="card no-bg">
      <div class="card-block text-center rounded" style="background-image: url('assets/images/unsplash/2.jpg')">
        <img alt="" class="avatar-lg rounded-circle d-block mx-auto mb-3" src="assets/images/face4.jpg" />
        <div class="arws">
          <span><i class="fas fa-angle-left fa-2x lftarw"></i></span><span><i class="fas fa-angle-right fa-2x rftarw"></i></span>
        </div>
        <button class="btn btn-secondary btn-sm mb-3">
          Follow
        </button>
      </div>
      <div class="card-block pt-3 pb-3 ml-3 mr-3 bg-indigo text-white rounded" style="margin-top: -15px;">
        <div class="row text-center">
          <div class="col">
            <div class="h6 no-margin">
              150
            </div>
            <div class="small bold text-uppercase">
              Fans
            </div>
          </div>

          <div class="col">
            <div class="h6 no-margin">
              200
            </div>
            <div class="small bold text-uppercase">
              Followers
            </div>
          </div>
          <div class="col">
            <div class="h6 no-margin">
              15
            </div>
            <div class="small bold text-uppercase">
              Events
            </div>
          </div>
          <div class="col">
            <div class="h6 no-margin">
              $550
            </div>
            <div class="small bold text-uppercase">
              Earnings
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="col-lg-3">
    <div class="card bg-purple card-inverse">
      <div class="card-header">
        Revenue
      </div>
      <div class="card-block">
        <ul class="list-unstyled mb-0">
          <li>
            <label class="custom-control custom-checkbox mb-2">
              <input class="custom-control-input" type="checkbox" />
              <span class="custom-control-indicator">
              </span>
              <span class="custom-control-description">
                14 Celebriti approval pending
              </span>
            </label>
          </li>
          <li>
            <label class="custom-control custom-checkbox mb-2">
              <input class="custom-control-input" type="checkbox" />
              <span class="custom-control-indicator">
              </span>
              <span class="custom-control-description">
                04 Orders awaiting process
              </span>
            </label>
          </li>
          <li>
            <label class="custom-control custom-checkbox">
              <input class="custom-control-input" type="checkbox">
              <span class="custom-control-indicator">
              </span>
              <span class="custom-control-description">
                15 Member subscription expired
              </span>
            </label>
          </li>
          <li>
            <label class="custom-control custom-checkbox mb-2">
              <input class="custom-control-input" type="checkbox" />
              <span class="custom-control-indicator">
              </span>
              <span class="custom-control-description">
                18 Transactions in approval guide
              </span>
            </label>
          </li>

          <li>
            <label class="custom-control custom-checkbox">
              <input class="custom-control-input" type="checkbox" />
              <span class="custom-control-indicator">
              </span>
              <span class="custom-control-description">
                04 Auctions about to satrt
              </span>
            </label>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>
<div class="row">
  <div class="col-md-12 col-xl-4">
    <div class="card">
      <div class="card-header no-shadow">
        Posts Approval Queue
      </div>
      <ul class="list-group border-0">
        <li class="list-group-item border-top-0 border-left-0 border-right-0">
          <div class="d-flex justify-content-center">
            <a class="pull-left avatar-sm" href="javascript:;">
              <img class="img-fluid rounded-circle" src="assets/images/face4.jpg"/>
            </a>
            <div class="pl-3">
              <a class="d-block" href="javascript:;">
                Meena Karam
              </a>
              <span>
                Donec ullamcorper nulla non metus auctor fringilla. &nbsp;<span><i class="far fa-check-circle grnclr"></i></span>
                <span><i class="far fa-times-circle rdclr"></i></span>
              </span>
            </div>
          </div>
        </li>
        <li class="list-group-item border-top-0 border-left-0 border-right-0">
          <div class="d-flex justify-content-center">
            <a class="pull-left avatar-sm" href="javascript:;">
              <img class="img-fluid rounded-circle" src="assets/images/face2.jpg"/>
            </a>
            <div class="pl-3">
              <a class="d-block" href="javascript:;">
                Praneeth Vadloori
              </a>
              <span>
                Donec ullamcorper nulla non metus auctor fringilla. &nbsp;<span><i class="far fa-check-circle grnclr"></i></span>
                <span><i class="far fa-times-circle rdclr"></i></span>
              </span>
            </div>
          </div>
        </li>
        <li class="list-group-item border-top-0 border-left-0 border-right-0  border-bottom-0">
          <div class="d-flex justify-content-center">
            <a class="pull-left avatar-sm" href="javascript:;">
              <img class="img-fluid rounded-circle" src="assets/images/face5.jpg"/>
            </a>
            <div class="pl-3">
              <a class="d-block" href="javascript:;">
                Anjaneyulu Gunti
              </a>
              <span>
                Donec ullamcorper nulla non metus auctor fringilla. &nbsp;<span><i class="far fa-check-circle grnclr"></i></span>
                <span><i class="far fa-times-circle rdclr"></i></span>
              </span>
            </div>
          </div>
        </li>
        
      </ul>
      <span (click)="openMdOpen()"><i class="fas fa-search-plus fa-2x zoomer"></i></span>
      <div class="pop_data" *ngIf="mdOpen">
        <span (click)="closeMdOpen()"><i class="fas fa-search-minus zoomerm"></i></span>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-4">
    <div class="card bg-indigo card-inverse">
      <div class="card-header no-shadow blue_bg">
        Premium Content Approval
      </div>
      <li class="list-group-item border-top-0 border-left-0 border-right-0  border-bottom-0">
        <div class="d-flex justify-content-center">
          <a class="pull-left avatar-sm" href="javascript:;">
            <img class="img-fluid rounded-circle" src="assets/images/face1.jpg" />
          </a>
          <div class="pl-3">
            <a class="d-block" href="javascript:;">
              M.S Dhoni
            </a>
            <span class="blk_clr">
              Donec ullamcorper nulla non metus auctor fringilla.
            </span>
            &nbsp;<span><i class="far fa-check-circle grnclr"></i></span>
            <span><i class="far fa-times-circle rdclr"></i></span>

          </div>
        </div>
      </li>
      <li class="list-group-item border-top-0 border-left-0 border-right-0  border-bottom-0">
        <div class="d-flex justify-content-center">
          <a class="pull-left avatar-sm" href="javascript:;">
            <img class="img-fluid rounded-circle" src="assets/images/face2.jpg" />
          </a>
          <div class="pl-3">
            <a class="d-block" href="javascript:;">
              Will Smith
            </a>
            <span class="blk_clr">
              Donec ullamcorper nulla non metus auctor fringilla.
            </span>
            &nbsp;<span><i class="far fa-check-circle grnclr"></i></span>
            <span><i class="far fa-times-circle rdclr"></i></span>

          </div>
        </div>
      </li>


      <li class="list-group-item border-top-0 border-left-0 border-right-0  border-bottom-0">
        <div class="d-flex justify-content-center">
          <a class="pull-left avatar-sm" href="javascript:;">
            <img class="img-fluid rounded-circle" src="assets/images/face3.jpg" />
          </a>
          <div class="pl-3">
            <a class="d-block" href="javascript:;">
              A.R Rahaman
            </a>
            <span class="blk_clr">
              Donec ullamcorper nulla non metus auctor fringilla.
            </span>
            &nbsp;<span><i class="far fa-check-circle grnclr"></i></span>
            <span><i class="far fa-times-circle rdclr"></i></span>

          </div>
        </div>
      </li>    </div>
  </div>
  <div class="col-md-6 col-xl-4">
    <div class="card">
      <div class="card-header no-shadow">
        Inventory Approval
      </div>
      <ul class="list-group border-0">
        <li class="list-group-item border-left-0 border-right-0">
          <div class="d-flex justify-content-center">
            <a class="pull-left avatar-sm" href="javascript:;">
              <img class="img-fluid" src="assets/images/face4.jpg"/>
            </a>
            <div class="pl-3">
              <ul class="pro_list">
                <li>Product Name : Wrangular</li>
                <li>Price : $500</li>
                <li style="font-size:80%"><span class="text-muted">Posted By</span> : C007</li>
                <li>
                  <span><i class="far fa-check-circle grnclr"></i></span>
                  <span><i class="far fa-times-circle rdclr"></i></span>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="list-group-item border-left-0 border-right-0">
          <div class="d-flex justify-content-center">
            <a class="pull-left avatar-sm" href="javascript:;">
              <img class="img-fluid" src="assets/images/face3.jpg"/>
            </a>
            <div class="pl-3">
              <ul class="pro_list">
                <li>Product Name : Adidas</li>
                <li>Price : $100</li>
                <li style="font-size:80%"><span class="text-muted">Posted By</span> : C008</li>
                <li>
                  <span><i class="far fa-check-circle grnclr"></i></span>
                  <span><i class="far fa-times-circle rdclr"></i></span>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="list-group-item border-left-0 border-right-0  border-bottom-0">
          <div class="d-flex justify-content-center">
            <a class="pull-left avatar-sm" href="javascript:;">
              <img class="img-fluid" src="assets/images/face1.jpg">
            </a>
            <div class="pl-3">
              <ul class="pro_list">
                <li>Product Name : Guitar</li>
                <li>Price : $50</li>
                <li style="font-size:80%"><span class="text-muted">Posted By</span> : C009</li>
                <li>
                  <span><i class="far fa-check-circle grnclr"></i></span>
                  <span><i class="far fa-times-circle rdclr"></i></span>
                </li>
              </ul>
            </div>
          </div>
        </li>

      </ul>
    </div>
  </div>
</div>
