<div class="card">
  <div class="card-block">
    <h6 class="text-uppercase mt-0 mb-3">Activities Details</h6>
    <br />
    <div class="row mb-2">
      <div class="col mb-2">
        <div class="d-flex justify-content-start">
          <div class="col mb-6">
            <strong class="mr-auto">Activity Name</strong>
            </div>
            <div class="col mb-6">
              <span>{{activity.activityName}}</span>
              </div>
            </div>
          </div>
      <div class="col mb-2">
        <div class="d-flex justify-content-start">
          <div class="col mb-6">
            <strong class="mr-auto"> Old Values</strong>
            </div>
            <div class="col mb-6">
              <!--<span>{{activity.oldValues.name}}</span>-->
              </div>
            </div>
          </div>
    </div>

    <div class="row mb-2">
      <div class="col mb-2">
        <div class="d-flex justify-content-start">
          <div class="col mb-6">
            <strong class="mr-auto">New Values</strong>
            </div>
            <div class="col mb-6">
              <!--<span>{{activity.newValues.name}}</span>-->
              </div>
            </div>
          </div>
      <div class="col mb-2">
        <div class="d-flex justify-content-start">
          <div class="col mb-6">
            <strong class="mr-auto">Created At</strong>
            </div>
            <div class="col mb-6">
              <span>{{activity.created_at | date:'dd-MM-yyyy HH:mm'}}</span>
              </div>
            </div>
          </div>
    </div>

    <div class="row mb-2">
      <div class="col mb-2">
        <div class="d-flex justify-content-start">
          <div class="col mb-6">
            <strong class="mr-auto">Updated At</strong>
            </div>
            <div class="col mb-6">
              <span>{{activity.updated_at | date:'dd-MM-yyyy HH:mm'}}</span>
              </div>
            </div>
          </div>
      <div class="col mb-2">
        <div class="d-flex justify-content-start">
          <div class="col mb-6">
            <strong class="mr-auto">Activity Status</strong>
            </div>
            <div class="col mb-6">
              <span>{{activity.activityStatus}}</span>
              </div>
            </div>
          </div>
    </div>

  </div>
</div>
