
<div class="card">
  <div class="card-block">
    <h6 class="text-uppercase mt-0 mb-3">Transaction Details</h6>
    <br/>
    <div class="row mb-2">
      <div class="col mb-2">
        <div class="d-flex justify-content-start">
          <div class="col mb-6">
            <strong class="mr-auto">Financial Type</strong>
            </div>
            <div class="col mb-6">
              <span>{{transaction.financialType}}</span>
              </div>
            </div>
          </div>
      <div class="col mb-2">
        <div class="d-flex justify-content-start">
          <div class="col mb-6">
            <strong class="mr-auto">Transaction Mode</strong>
            </div>
            <div class="col mb-6">
              <span>{{transaction.transactionMode}}</span>
              </div>
            </div>
          </div>
    </div>

    <div class="row mb-2">
      <div class="col mb-2">
        <div class="d-flex justify-content-start">
          <div class="col mb-6">
            <strong class="mr-auto">Payment Gateway Response</strong>
            </div>
            <div class="col mb-6">
              <span>{{transaction.paymentgatewayResponse}}</span>
              </div>
            </div>
          </div>
      <div class="col mb-2">
        <div class="d-flex justify-content-start">
          <div class="col mb-6">
            <strong class="mr-auto">Transaction Ref Number</strong>
            </div>
            <div class="col mb-6">
              <span>{{transaction.transactionRefNumber}}</span>
              </div>
            </div>
          </div>

    </div>

    <div class="row mb-2">
      <div class="col mb-2">
        <div class="d-flex justify-content-start">
          <div class="col mb-6">
            <strong class="mr-auto">Transaction Auth Code</strong>
            </div>
            <div class="col mb-6">
              <span>{{transaction.transactionAuthCode}}</span>
              </div>
            </div>
          </div>
      <div class="col mb-2">
        <div class="d-flex justify-content-start">
          <div class="col mb-6">
            <strong class="mr-auto">Transaction Value</strong>
            </div>
            <div class="col mb-6">
              <span>{{transaction.transactionValue}}</span>
              </div>
            </div>
          </div>
    </div>

    <div class="row mb-2">
      <div class="col mb-2">
        <div class="d-flex justify-content-start">
          <div class="col mb-6">
            <strong class="mr-auto">Financial Status</strong>
            </div>
            <div class="col mb-6">
              <span>{{transaction.financialStatus}}</span>
              </div>
            </div>
          </div>
      <div class="col mb-2">
        <div class="d-flex justify-content-start">
          <div class="col mb-6">
            <strong class="mr-auto">Date</strong>
            </div>
            <div class="col mb-6">
              <span>{{transaction.created_at| date:'dd-MM-yyyy HH:mm'}}</span>
              </div>
            </div>
          </div>
    </div>

  </div>
</div>
