<div class="card">
  <div class="card-block">
    <h6 class="text-uppercase mt-0 mb-3">Service Logs Details</h6>
    <br />
    <div class="row mb-2">
      <div class="col mb-2">
        <div class="d-flex justify-content-start">
          <div class="col mb-6"><strong>Service Type</strong></div>
          <div class="col mb-6"><span>{{service.service_type}}</span></div>
        </div>
        </div>
      <div class="col mb-2">
        <div class="d-flex justify-content-start">
          <div class="col mb-6">
            <strong>User Member</strong>
          </div>
          <div class="col mb-6">
            <span>{{service.senderId}}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col mb-2">
        <div class="d-flex justify-content-start">
          <div class="col mb-6">
            <strong>Celebrity Member</strong></div>
          <div class="col mb-6">
            <span>{{service.receiverId}}</span>
          </div>
            </div>
          </div>
          <div class="col mb-2">
            <div class="d-flex justify-content-start">
              <div class="col mb-6">
                <strong>Start Date</strong>
              </div>
              <div class="col mb-6">
                <span>{{service.startTime | date:'dd-MM-yyyy HH:mm'}}</span>
              </div>
            </div>
              </div>

            </div>

    <div class="row mb-2">
      <div class="col mb-2">
        <div class="d-flex justify-content-start">
          <div class="col mb-6">
            <strong>End Time</strong></div>
            <div class="col mb-6">
              <span>{{service.endTime | date:'dd-MM-yyyy HH:mm'}}</span>
              </div>
            </div>
          </div>
          <div class="col mb-2">
            <div class="d-flex justify-content-start">
              <div class="col mb-6">
                <strong>Transaction Status</strong>
                </div>
                <div class="col mb-6">
                  <span>{{service.transactionStatus}}</span>
                  </div>
                </div>
              </div>
            </div>

    <div class="row mb-2">
      <div class="col mb-2">
        <div class="d-flex justify-content-start">
          <div class="col mb-6">
            <strong>Actual Charged Credits</strong>
            </div>
            <div class="col mb-6">
              <span>{{service.actualChargedCredits}}</span>
              </div>
            </div>
          </div>
          <div class="col mb-2">
            <div class="d-flex justify-content-start">
              <div class="col mb-6">
                <strong>Credits</strong>
                </div>
                <div class="col mb-6">
                  <span>{{service.credits}}</span>
                  </div>
                </div>
              </div>
            </div>

    <div class="row mb-2">
      <div class="col mb-2">
        <div class="d-flex justify-content-start">
          <div class="col mb-6">
            <strong>Date</strong>
            </div>
            <div class="col mb-6">
              <span>{{service.created_at | date:'dd-MM-yyyy HH:mm'}}</span>
              </div>
            </div>
          </div>
        </div>

  </div>
</div>
