<div class="card">
  <div class="card-header">
  List of Users
  </div>
  <div class="card-block">
    <div class=" List of Users">
      <table class="table table-bordered table-striped mb-0">
        <thead>
          <tr>
            <th>
              ID
            </th>
            <th>
              Role
            </th>
            <th>
              User Name
            </th>
            <th>
              Full Name
            </th>
            <th>
              Member Since
            </th>
            <th>
              Last Active
            </th>
            <th>
              Status
            </th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td data-title="ID">
              001
            </td>
            <td data-title="Role">
              Admin
            </td>
            <td data-title="User Name">
              Praneeth
            </td>
            <td data-title="Full Name">
              Praneeth Vadloori
            </td>
            <td data-title="Member Since">
              01-01-2018
            </td>
            <td data-title="Last Active">
              01-02-2018
            </td>
            <td data-title="Status">
              Active
            </td>
            <td class="gear_icn">
              <span (click)="showPopActionsOne()"><i class="fas fa-cog gric"></i></span>
              <div class="pop_actions" *ngIf="showActionsOne" id="one">
                <p>View Profile</p>
                <p>Permissions</p>
                <p>Reset Password</p>
                <p>Activity Log</p>
                <span class="closer" (click)="hidePopActions()">Close <i class="fas fa-times"></i></span>
              </div>
            </td>
          </tr>
          <tr>
            <td data-title="User ID">
              001
            </td>
            <td data-title="Role">
              Admin
            </td>
            <td data-title="User Name">
              Meena
            </td>
            <td data-title="Full Name">
              Meena Karam
            </td>
            <td data-title="Member Since">
              01-05-2018
            </td>
            <td data-title="Last Active">
              01-02-2018
            </td>
            <td data-title="Status">
              Active
            </td>
            <td class="gear_icn">
              <span (click)="showPopActionsTwo()"><i class="fas fa-cog gric"></i></span>
              <div class="pop_actions" *ngIf="showActionsTwo" id="one">
                <p>View Profile</p>
                <p>Permissions</p>
                <p>Reset Password</p>
                <p>Activity Log</p>
                <span class="closer" (click)="hidePopActions()">Close <i class="fas fa-times"></i></span>
              </div>
            </td>
          </tr>
          <tr>
            <td data-title="User ID">
              001
            </td>
            <td data-title="Role">
              Admin
            </td>
            <td data-title="User Name">
              Anji
            </td>
            <td data-title="Full Name">
              Anji Gunti
            </td>
            <td data-title="Member Since">
              01-11-2018
            </td>
            <td data-title="Last Active">
              01-02-2018
            </td>
            <td data-title="Status">
              Active
            </td>
            <td class="gear_icn">
              <span (click)="showPopActionsThree()"><i class="fas fa-cog gric"></i></span>
              <div class="pop_actions" *ngIf="showActionsThree" id="one">
                <p>View Profile</p>
                <p>Permissions</p>
                <p>Reset Password</p>
                <p>Activity Log</p>
                <span class="closer" (click)="hidePopActions()">Close <i class="fas fa-times"></i></span>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
