<p>
   Reset the Password Here
</p>



                          <!--<fieldset _ngcontent-c1="" class="form-group" ng-reflect-klass="form-group" ng-reflect-ng-class="[object Object]">
                            <label _ngcontent-c1="" class="form-control-label" for="username">
                              Enter your username
                            </label>
                            <input _ngcontent-c1="" class="form-control ng-untouched ng-pristine ng-invalid" placeholder="Username" type="text" ng-reflect-klass="form-control" ng-reflect-ng-class="[object Object]" ng-reflect-form="[object Object]">
                           
                          </fieldset>
                          <button _ngcontent-c1="" class="btn btn-primary fpbtn" type="submit" disabled="">Reset password</button>-->
                          <div class="_parentdiv">
                            <div class="_chilediv">
                              <!--<label class="_margin">Email ID : {{memberId}} </label><br />-->
                              <!--<input type="password" class="_margin" placeholder="Password" id="password" [(ngModel)]="password" /><br />
  <input type="text" class="_margin" placeholder="ConfirmPassword" /><br />-->
                              <!--<input type="button" class="btn btn-primary _margin" value="Submit" />-->
                              <!--<button class="btn btn-primary lgnbtn" type="button" (click)="onReset(memberId, password)">Submit</button>-->
                               
                               <form [formGroup]="form" (ngSubmit)="onReset(memberId, password)" class="signup_formcenter">
                                
                                 <label for="username">
                                   Email-Id
                                 </label>
                                 <label class="form-control">{{memberId}}</label>
                                 <fieldset class="form-group" [ngClass]="{'has-danger': form.controls['password'].hasError('required') && form.controls['password'].touched}">
                                   <label for="password">
                                     Enter your password
                                   </label>
                                   <input type="password" class="form-control" placeholder="********" [formControl]="form.controls['password']" [(ngModel)]="password" [ngClass]="{'form-control-danger': form.controls['password'].hasError('required') && form.controls['password'].touched}" />
                                   <div class="form-control-feedback" *ngIf="form.controls['password'].hasError('required') && form.controls['password'].touched">Password is required.</div>
                                 </fieldset>
                                 <fieldset class="form-group" [ngClass]="{'has-danger': form.controls['confirmPassword'].hasError('required') && form.controls['confirmPassword'].touched}">
                                   <label for="password">
                                     Confirm your password
                                   </label>
                                   <input type="text" class="form-control" placeholder="********" [formControl]="form.controls['confirmPassword']" [ngClass]="{'form-control-danger': form.controls['confirmPassword'].hasError('required') && form.controls['confirmPassword'].touched}" />
                                   <div class="form-control-feedback" *ngIf="form.controls['confirmPassword'].hasError('required') && form.controls['confirmPassword'].touched">Confirm your password.</div>
                                 </fieldset>
                               
                                 <div class="block mb-3"></div>
                                 <!--<button class="btn btn-primary rgbtn" type="submit" [disabled]="!form.valid">Create</button>
                                 <a class="btn btn-outline-primary btn-link crt_btn" (click)="onSignin()">Login!</a>-->
                                 <button class="btn btn-primary lgnbtn" type="button" (click)="onReset(memberId, password)" [disabled]="!form.valid">Submit</button>
                               </form>



                            </div>
                            

                          </div>



