._parentdiv
{
  position:relative;
}
._chilediv {
 
  width: 70%;
  display: block;
  margin: 0px auto;
  
}
._margin{
  margin-bottom:15px;}

.lgnbtn {
  background: #259dd0;
  outline: none;
  border: none;
}
