<div class="card">
  <div class="card-header">
    List of Financial Transactions
  </div>
  <div class="card-block">
    <div class="List of Transactions">
      <table class="table table-bordered table-striped mb-0">
        <thead>
          <tr>
            <th>
              ID
            </th>
            <th class="numeric">
              Payment Gateway Response
            </th>
            <th class="numeric">
              Transaction Ref Number
            </th>
            <th>
              Transaction Date
            </th>
            <th>
              Financial Type
            </th>
            <th>
              Financial Status
            </th>
            <th>
              Transaction AuthCode
            </th>
            <th>Transaction Value</th>
            <th>Transaction Mode</th>
            <th class="numeric">
              Transaction Status
            </th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of transactionLogList ; let i=index">
            <td data-title="ID">
              {{i+1}}
            </td>
            <td data-title="Payment Gateway Response">
              {{item.paymentgatewayResponse}}
            </td>
            <td data-title="  Transaction Ref Number">
              {{item.transactionRefNumber}}
            </td>
            <td data-title="Transaction Date Time">
              {{item.created_at | date:'dd-MM-yyyy HH:mm'}}
            </td>
            <td data-title="Financial Type">
              {{item.financialType}}
            </td>
            <td data-title="Financial Status">
              {{item.financialStatus}}
            </td>
            <td data-title="Transaction AuthCode">
              {{item.transactionAuthCode}}
            </td>
            <td>
              {{item.transactionValue}}
            </td>
            <td>{{item.transactionMode}}</td>
            <td data-title="Transaction Status">
              <select class="form-control" [(ngModel)]="item.transactionMode" (change)="OnFinStatusChange(item.transactionMode, item)">
                <option value="initiated">Initiated</option>
                <option value="debit">Debit</option>
                <option value="credit">Credit</option>
                <option value="on hold">On Hold</option>
                <option value="under process">Under Process</option>
                <option value="completed">Completed</option>
                <option value="reversed">Reversed</option>
                <option value="canceled">Canceled</option>
              </select>
            </td>
            <td class="gear_icn">
              <span (click)="showPopActions(item._id)"><i class="fas fa-cog gric"></i></span>
              <div class="pop_actions" *ngIf="showActions==item._id" id="two">
                <p (click)="onViewTransactionLogById(item._id)">View Transaction Details</p>
                <p>Transaction Timeline</p>
                <p>Analytics</p>
                <span class="closer" (click)="hidePopActions()">Close <i class="fas fa-times"></i></span>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
