<div class="card">
  <div class="card-header">
   List of Celebrities
  </div>
  <div class="card-block">
    <div class="List of Celebrities">
      <table class="table table-bordered table-striped mb-0">
        <thead>
          <tr>
            <th>
              ID
            </th>
            <th>
              User Name
            </th>
            <th class="numeric">
              Full Name
            </th>
            <th class="numeric">
              Phone
            </th>
            <th class="numeric">
              Category
            </th>
            <th class="numeric">
              Member Since
            </th>
            <th class="numeric">
              Last Active
            </th>
            <th class="numeric">
              Earned $
            </th>
            <th class="numeric">
              Spent $
            </th>
            <th class="numeric">
              Status
            </th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listofcelebs ; let i=index">
            <td data-title="ID">
              {{i+1}}
            </td>
            <td data-title="User Name">
              {{item.name}}
            </td>
            <td data-title="Full Name">
              {{item.name}} {{item.lastName}}
            </td>
            <td data-title="Phone" class="numeric">
              {{item.mobileNumber}}
            </td>
            <td data-title="Category">
              <!--{{item.location}}-->
            </td>
            <td data-title="Member Since">
              {{item.created_at | date:'dd-MM-yyyy HH:mm'}}
            </td>
            <td data-title="Last Active">
              <span *ngIf="item.updated_at != null ">
                {{item.updated_at | date:'dd-MM-yyyy HH:mm'}} (Days: {{ ondatediff(item.updated_at | date :'yyyy/MM/dd') }})
              </span>

            </td>
            <td data-title="Earned $" class="numeric">
              $0.00
            </td>
            <td data-title="Spent $" class="numeric">
              $0.00
            </td>
            <td data-title="Status">
              <label class="switch" (change)="onchangestatus(item._id,item.status)">
                <input type="checkbox" name="{{item.status}}" id="status" checked="{{item.status? 'checked' : ''}}" [(ngModel)]="item.status">
                <span class="slider round"></span>
              </label>
            </td>

            <td class="gear_icn">
              <span (click)="onviewcelebbyid(item._id)"><i class="fas fa-eye gric"></i></span>
              <!--<div class="pop_actions" *ngIf="showActions==item._id">
                <p (click)="onviewcelebbyid(item._id)">View Profile</p>
                <p (click)="onresetpassword(item.email)">Reset Password</p>
                <p>Timeline</p>
                <p>Transactions</p>
                <span class="closer" (click)="hidePopActions()">Close <i class="fas fa-times"></i></span>
              </div>-->
            </td>
          </tr>
          <!--<tr>
            <td data-title="ID">
              002
            </td>
            <td data-title="User Name">
              Prabhas
            </td>
            <td data-title="Full Name">
              Prabhas Raju
            </td>
            <td data-title="Phone" class="numeric">
              8479652301
            </td>
            <td data-title="Category">
              Movies
            </td>
            <td data-title="Member Since">
              01-02-2018
            </td>
            <td data-title="Last Active">
              02-02-2018
            </td>
            <td data-title="Spent $" class="numeric">
              $4.38 / $8.35
            </td>
            <td data-title="Status">
              <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
              </label>
            </td>
            <td class="gear_icn">
              <span (click)="showPopActionsTwo()"><i class="fas fa-cog gric"></i></span>
              <div class="pop_actions" *ngIf="showActionsTwo" id="one">
                <p>View Profile</p>
                <p>Reset Password</p>
                <p>Timeline</p>
                <p>Transactions</p>
                <span class="closer" (click)="hidePopActions()">Close <i class="fas fa-times"></i></span>
              </div>
            </td>
          </tr>
          <tr>
            <td data-title="ID">
              003
            </td>
            <td data-title="User Name">
              Anushka
            </td>
            <td data-title="Full Name">
             Anushka Sharma
            </td>
            <td data-title="Phone" class="numeric">
              8479656230
            </td>
            <td data-title="Category">
              Movies
            </td>
            <td data-title="Member Since">
              01-02-2018
            </td>
            <td data-title="Last Active">
              02-02-2018
            </td>
            <td data-title="Spent $" class="numeric">
              $1.38 / $4.68
            </td>
            <td data-title="Status">
              <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
              </label>
            </td>
            <td class="gear_icn">
              <span (click)="showPopActionsThree()"><i class="fas fa-cog gric"></i></span>
              <div class="pop_actions" *ngIf="showActionsThree" id="one">
                <p>View Profile</p>
                <p>Reset Password</p>
                <p>Timeline</p>
                <p>Transactions</p>
                <span class="closer" (click)="hidePopActions()">Close <i class="fas fa-times"></i></span>
              </div>
            </td>
          </tr>-->
        </tbody>
      </table>
    </div>
  </div>
</div>
