/* You can add global styles to this file, and also import other style files */
body {
  font-family: "Arimo", Helvetica, sans-serif;
}
.spnl {
  background-color: #00ff21;
}
.custom-control-input:checked ~ .custom-control-indicator{ background-color:#259dd0!important;}
.configuration-cog{ display:none;}
